@charset "UTF-8";
/* CSS Document */

/***************************************************************************** 
These are styles that are repeated throughout the designs for :
WMF-IR, BMSS, Mortgage and Service Works and Finacial Planing & Billing
******************************************************************************/

/* Imports */

	@import 'grids/978gs.css';
	@import 'grids/simple-gs.css';
	@import 'elements/buttons.css';
/*	@import 'elements/icons.css';*/
	@import 'collections/dropkick.css';
	@import 'collections/tables.css';
	@import 'collections/menus.css';
	
	


/* Global Stuff */

/* When we set a width, that element stays that width, despite padding or borders being applied. */
*, *:after, *:before {
	margin: 0;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

html, body { height: 100%;}
body { 
	cursor: default;
	font: 12px Arial, Helvetica, sans-serif;
	color: #2e2e2e;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
th { text-align:left; }

hr { 
	border: 0; 
	height: 0; 
	border-top: 1px solid #ccc; 
	border-bottom: 1px solid #fff;
}

img {  border:none; }

a { text-decoration: none; color: #556996;}
a:hover { cursor: pointer; border-bottom: 1px dotted;}

a.close { padding: 4px 6px; }
a.close:hover {
	background:#ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
a.close:active { margin-top: 1px;}


input[type=text] {
	border: 1px solid #C7C7C7;
    border-radius: 3px;
    padding: 6px 8px;
}


textarea { 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* future proofing */
	-khtml-border-radius: 3px; /* for old Konqueror browsers */
	border: 1px solid #C9C9C9;
	-moz-box-shadow: inset 0px 0px 4px rgba(68,68,68,0.3);
	-webkit-box-shadow: inset 0px 0px 4px rgba(68,68,68,0.3);
	box-shadow: inset 0px 0px 4px rgba(68,68,68,0.3);
	width: 100%;
}


/**************************************************
				 Container Styles 
***************************************************/

.shadow {
  -moz-box-shadow:    0 0 3px 0 #ccc;
  -webkit-box-shadow: 0 0 3px 0 #ccc;
  box-shadow:         0 0 3px 0 #ccc;
}

.inset-shadow { box-shadow: 0 0 2px rgba(68, 68, 68, 0.3) inset; }
.rounded { 
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* future proofing */
	-khtml-border-radius: 4px; /* for old Konqueror browsers */
}

/*  -moz-border-radius: [top-left] [top-right] [bottom-right] [bottom-left] */
.rounded-bottom {
	-moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px; /* future proofing */
	-khtml-border-radius: 0 0 4px 4px; /* for old Konqueror browsers */
}

.editable { cursor:auto; }
.right { float: right;}

.test {
	background-color:#FCC;
	outline: 1px solid red;	
}

.hide { display:none; }


/* Fonts */

.label {
	color:#949494;
	font-size:10px;
	font-weight: normal;
}
.bold { font-weight: bold }

.label:hover {
	text-decoration: none !important;
	cursor: default !important;
}

.cash { text-align: right;}
.total { font-weight: bold;}

.blu { color: #556996;}
.light-blu { color: #a5b9d1;}




/* Dropdowns */

.dropdown {
		   border: 1px solid #DDD;
		   border-radius: 3px;
		   text-shadow: 0 1px 1px white;
		   -webkit-box-shadow: 0 1px 1px #fff;
		   -moz-box-shadow:    0 1px 1px #fff;
		   box-shadow:         0 1px 1px #fff;
		   font: bold 11px Sans-Serif;
		   padding: 6px 10px;
		   white-space: nowrap;
		   vertical-align: middle;
		   color: #556996;
		   background: transparent;
		   cursor: pointer;
}

.dropdown:hover, .dropdown:focus {
		   border-color: #556996;
		   background: -webkit-linear-gradient(top, white, #E0E0E0);
		   background:    -moz-linear-gradient(top, white, #E0E0E0);
		   background:     -ms-linear-gradient(top, white, #E0E0E0);
		   background:      -o-linear-gradient(top, white, #E0E0E0);
		   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
		   -moz-box-shadow:    0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
		   box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}

.dropdown:active {
		   border: 1px solid #aaa;
		   border-bottom-color: #ccc;
		   border-top-color: #999;
		   -webkit-box-shadow: inset 0 1px 2px #aaa;
		   -moz-box-shadow:    inset 0 1px 2px #aaa;
		   box-shadow:         inset 0 1px 2px #aaa;
		   background: -webkit-linear-gradient(top, #E6E6E6, gainsboro);
		   background:    -moz-linear-gradient(top, #E6E6E6, gainsboro);
		   background:     -ms-linear-gradient(top, #E6E6E6, gainsboro);
		   background:      -o-linear-gradient(top, #E6E6E6, gainsboro);
}

.dropdown:after {
		   content: "";
		   display: inline-block;
		   width: 0;
		   height: 0;
		   border-top: 4px solid #556996;
		   border-left: 4px solid transparent;
		   border-right: 4px solid transparent;
		   margin: 0 0 0 4px;
		   position: relative;
		   top: -1px;
}
		
.dropdown:hover:after {
		   border-top-color: #556996;
}

.dropdown.primary {
	color: #fff;
	background: -moz-linear-gradient(top, #b3bfdb, #3c5da6);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #b3bfdb),color-stop(1, #3c5da6));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b3bfdb', EndColorStr='#3c5da6');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#b3bfdb', EndColorStr='#3c5da6')";
	text-shadow: none;
	border: 1px solid #556996;
}


.dropdown.primary:after { border-top: 4px solid #fff; }

.dropdown.primary:active {
		   border: 1px solid #21354F;
		   border-bottom-color: #21354F;
		   border-top-color: #21354F;
		   -webkit-box-shadow: inset 0 1px 2px #21354F;
		   -moz-box-shadow:    inset 0 1px 2px #21354F;
		   box-shadow:         inset 0 1px 2px #21354F;
			background-image: -moz-linear-gradient(top, #3c5da6, #7384ab);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #7384ab),color-stop(1, #3c5da6));
			filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7384ab', EndColorStr='#3c5da6');
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7384ab', EndColorStr='#3c5da6')";
}




/************ MENU **************/

/* Flat dropdowns */

.dropdown.flat {
	background: #fafafa;
	border: 1px solid #c2c2c4;
}

/* Checkboxes */	
	
input[type=checkbox].chkbox {
	display:none;
}

input[type=checkbox].chkbox + label.chkbox-label {
	padding-left:22px;
	height:22px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].chkbox:checked + label.chkbox-label {
	background-position: 0 -22px;
}
.chkbox-label{ background-image:url(../images/chk.png); }










/******* MODAL ***********************************/


/* CONTAINERS 
˹ˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉˉ˺
*/

.dialog, .pop{
	background:url(../images/modal-body-texture.png) repeat;
	-moz-box-shadow:    0px 0px 4px 4px #ccc;
	 -webkit-box-shadow: 0px 0px 4px 4px #ccc;
	 box-shadow:         0px 0px 4px 4px #ccc;
	 -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding:12px;
	text-align:left;
}

.dialog div.header { 
	background:none;
	border-bottom: none;
	padding: 0;
	 }

.dialog .body{
	margin: 12px 0 20px 0;
	
}

.dialog p.label{
	color:#949494;
	font-size:10px;
	font-weight:bold;
}

.dialog .footer, pop .footer { overflow:auto; }
.dialog .footer div, pop .footer div  { float:left; margin-left: 8px; }







