 <h3> Global Links </h3>
<p>
These are global links. They can be seen in upper right conners of applications with the title bar, tables or in tables with account links.
</p>
 <br>

<table class="linksTable">
  <tr>
    <th>Link</th>
    <th>Link:hover</th>
  </tr>
  <tr>
    <td><a href="#">Advanced Search</a></td>
    <td><a href="#"><span class="hover">Advanced Search</span></a></td>
  </tr>
  <tr>
    <td><a href="#"><img src="./icon_images/blue_icons/16/warning_16blue.png" width="12px" height="12px"> Announcements</a></td>
    <td><a href="#"><span class="hover"><img src="./icon_images/blue_icons/16/warning_16blue.png" width="12px" height="12px"> Announcements</span></a></td>
  </tr>
  <tr>
    <td><a href="#"><img src="./icon_images/blue_icons/16/plus-solid_16blue.png" width="12px" height="12px"> Create a Prospect</a></td>
    <td><a href="#"><span class="hover"><img src="./icon_images/blue_icons/16/plus-solid_16blue.png" width="12px" height="12px"> Create a Prospect</span></a></td>
  </tr>
  <tr>
    <td><a href="#"><img src="./icon_images/blue_icons/16/excel_16blue.png" width="12px" height="12px"> Export Excel</a></td>
    <td><a href="#"><span  class="hover"><img src="./icon_images/blue_icons/16/excel_16blue.png" width="12px" height="12px"> Export Excel</span></a></td>
  </tr>
</table>
<br>


<!-- *************************
        Coding Tabs 
***************************-->
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">HTML</a></li>
        <li><a href="#tab2">CSS</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <p>
                <pre class="language-markup">
                    <code>
&lt;a href="#">Advanced Search&lt;/a>
                    </code>
                </pre>
            </p>
        </div><!-- /tab1-->
     
        <div id="tab2" class="tab">
            <p>
                <pre class="language-css">
                    <code>
a { text-decoration: none; color: #556996; font-size: 12px}
a:hover { cursor: pointer; border-bottom: 1px dotted;}
                    </code>
                </pre>
            </p>
        </div><!-- /tab2-->

    </div><!-- /tab-content-->

</div><!-- /tabs-->
<br>
<br>