<div class="module">


<h3> H2</h3>
    <p>
    H2 tags are used as main section headers. The appear in pages, dashlets and modals.
    </p>
  

<h2>
    <span class="note"> Header 2</span>
Manage this Engagement
</h2>

 

<h2>
    <span class="note">Header 2 link</span>
    <a href="#">Manage this Engagement</a>
</h2>

 
 


<h2>
    <span class="note"> Header 2</span>
    Advanced Search Options
</h2>

 

<h2>
    <span class="note">Header 2 link</span>
    <a href="#">Advanced Search Options</a>
</h2>

 
 



<!-- *************************
        Coding Tabs 
***************************-->
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#h2-tab1">HTML</a></li>
        <li><a href="#h2-tab2">CSS</a></li>
    </ul>

    <div class="tab-content">
        <div id="h2-tab1" class="tab active">
            <p>
                <pre class="language-markup">
                    <code>
&lt;h2>Manage this Engagement&lt;/h2>
&lt;h2>&lt;a href="#">Manage this Engagement&lt;/a>&lt;/h2>
                    </code>
                </pre>
            </p>
        </div><!-- /tab1-->
     
        <div id="h2-tab2" class="tab">
            <p>
                <pre class="language-css">
                    <code>
h2 {
color: #21354f;
}
                    </code>
                </pre>
            </p>
        </div><!-- /tab2-->

    </div><!-- /tab-content-->

</div><!-- /tabs-->
 
 
</div> <!--/module-->