<h3> H3</h3>
    <p>
    H3 tags are used as section headers. The appear in pages, dashlets and modals.
    </p>
    <hr>
  



<h3><span class="note">Header 3</span>Table of contents</h3>
<h3><span class="note">Header 3 link</span><a href="#">Table of contents</a></h3>
 
<h3><span class="note">Header 3</span>Name the plan</h3>
<h3><span class="note">Header 3 Link</span><a href="#">Name the plan</a></h3>

 

<!-- *************************
        Coding Tabs 
***************************-->
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#h3-tab1">HTML</a></li>
        <li><a href="#h3-tab2">CSS</a></li>
    </ul>

    <div class="tab-content">
        <div id="h3-tab1" class="tab active">
            <p>
                <pre class="language-markup">
                    <code>
&lt;h3>Table of contents&lt;/h3>
&lt;h3>&lt;a href="#">Table of contents&lt;/a>&lt;/h3>
                    </code>
                </pre>
            </p>
        </div><!-- /tab1-->
     
        <div id="h3-tab2" class="tab">
            <p>
                <pre class="language-css">
                    <code>
h3 {
color: #21354f;
}
                    </code>
                </pre>
            </p>
        </div><!-- /tab2-->

    </div><!-- /tab-content-->

</div><!-- /tabs-->
 
 
