<div class="module">

 <h3> Labels </h3>
<p>
Common labels that are used in CW apps.
</p>


<span class="filters label"> LABEL ON FILTERS </span>

<span class="dark titlesection">
	<span class="label">This is a label on a dark bg</span>
</span>

<!-- *************************
        Coding Tabs 
***************************-->

<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">HTML</a></li>
        <li><a href="#tab2">CSS</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <p>
                <pre class="language-markup">
                    <code>
&lt;span class="filters label"> LABEL ON FILTERS &lt;/span>
                    </code>
                </pre>
            </p>
        </div><!-- /tab1-->
     
        <div id="tab2" class="tab">
            <p>
                <pre class="language-css">
                    <code>
                      <!--CSS-->
                    </code>
                </pre>
            </p>
        </div><!-- /tab2-->

    </div><!-- /tab-content-->

</div><!-- /tabs-->
 



</div> <!--/module-->