<div class="module">

<h3>Asset Allocation Table</h3>
<p>Here is a table with a heirarchy of items. You can view this table at <a href="http://pixelblot.com/test/-ir-sandbox/">http://pixelblot.com/test/-ir-sandbox/</a></p>
 
  
      
        
        <table class="ir-datagrid aa-table">
            
        
            <thead>
            <tr class="aa-table-header">
              <td class="clearall"><span class="label">Tier</span> 
                        <button class="dropdown" role="button">
                            Choose one ...
                        </button>
                </td>
                <td colspan="2" class="blueme">Proposed Holding</td>
                <td colspan="2" class="blueme">
                  <button class="dropdown" role="button" style="background: #f0f0f0; box-shadow: none;">
                            Asset Allocation Model
                  </button>
                </td>
                <td colspan="2" class="blueme">
               
                            Net Change
                          
                </td>
            </tr>
              <tr>
                  <th>
                    
                    </th>
                  <th>
                      Value ($)
                  </th>
                    <th>
                      % of Portfolio
                    </th>
                  <th>
                      Value ($)
                  </th>
                  <th>
                      % of Portfolio
                  </th>
                  <th>
                      Value ($)
                  </th>
                  <th>
                      % of Portfolio
                  </th>
                </tr>
            </thead>
            <tfoot>
              <tr>
                    <td>
                        Total
                    </td>
                    <td>
                        8,312,323.50
                    </td>
                    <td>
                        100.00
                    </td>
                    <td>
                        8,312,323.50
                    </td>
                    <td>
                        100.00
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
              </tr>
            </tfoot>
            <tbody>
                <tr>
                  <td>
                      <span class="icon-down_triangle" style="font-size: 10px; vertical-align: central;"></span>Fixed Income
                    </td>
                    <td>
                      125,875.70
                    </td>
                    <td>
                      1.51
                    </td>
                    <td>
                      0.00
                    </td>
                    <td>
                      0.00
                    </td>
                    <td>
                      -125,875.70
                    </td>
                    <td>
                      -1.51 <span class="icon-arrow-down" style="color: #ff0b00;"></span>
                    </td>
                </tr>
                
                <tr>
                  <td>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="icon-down_triangle" style="font-size: 10px; vertical-align: central;"></span>US
                    </td>
                    <td>
                      7,854,889.60
                    </td>
                    <td>
                      94.49
                    </td>
                    <td>
                      5,735,719.19
                    </td>
                    <td>
                      69.00
                    </td>
                    <td>
                      -2,119,170.42
                    </td>
                    <td>
                      -25.49 <span class="icon-arrow-down" style="color: #ff0b00;"></span>
                    </td>
                </tr>
                <tr>
                  <td>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="icon-down_triangle" style="font-size: 10px; vertical-align: central;"></span>Municipals
                    </td>
                    <td>
                      7,854,889.60
                    </td>
                    <td>
                      94.49
                    </td>
                    <td>
                      5,735,719.19
                    </td>
                    <td>
                      69.00
                    </td>
                    <td>
                      -2,119,170.42
                    </td>
                    <td>
                      25.49 <span class="icon-arrow-up" style="color: #21c614;"></span>
                    </td>
                </tr>
                <tr>
                  <td>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Core
                    </td>
                    <td>
                      7,854,889.60
                    </td>
                    <td>
                      94.49
                    </td>
                    <td>
                      5,735,719.19
                    </td>
                    <td>
                      69.00
                    </td>
                    <td>
                      -2,119,170.42
                    </td>
                    <td>
                      25.49 <span class="icon-arrow-up" style="color: #21c614;"></span>
                    </td>
                </tr>
          </tbody>    
        </table>

</div> <!--/module-->