
<div class="engagement shadow">
  <table class="bio">
    <tr>
      <td class="tag">Short Name:</td>
      <td class="value">Taylor,K</td>
      <td class="tag">Client Type:</td>
      <td class="value">UBS ACCT HOLDER</td>
      <td class="tag">FAID:</td>
      <td class="value">ZZ00</td>
      <td class="tag">Plan Type:</td>
      <td class="value">FGA</td>
      <td class="tag">Engagement Type:</td>
      <td class="value"><span class="type">ANNUAL</span></td>
    </tr>
  </table>

  
  <div class="dash">
    <div class="countdown">
      <p class="interrupt"><img src="./icon_images/white_icons/16/info_16white.png"/>
      <br />Countdown starts when Service Agreement is approved.</p>
    </div>
    <div class="status">
      <table>
        <tr>
          <td colspan="2" class="tag2">ENGAGEMENT STATUS</td>
        </tr>
        <tr>
          <td colspan="2"><h1>PENDING APPROVAL</h1></td>
        </tr>
        <tr>
          <td class="tag2" width="80" >Tracking Acct #:</td>
          <td class="value">ZZ12345</td>
        </tr>
        <tr>
          <td class="tag2">Original SA date:</td>
          <td class="value">PENDING</td>
        </tr>
      </table>
      
    </div>
    <div class="fee-summary">
      <table>
        <tr><td class="cash">2,500</td></tr>
        <tr><td class="cash">0</td></tr>
        <tr><td class="cash total">2,500</td></tr>
      </table>
    </div>
  </div><!--/dash -->

</div><!--/engagement -->