<h3><span class="subdue">Scratch Pad:</span> Container</h3>
      <p>This contains all the elements of the scratch pad. The top-margin must be exactly laid on top of the sort-line above</p>  
      <hr>
 <br>
      <div id="ir-scratchpad-container">
        <img src="images/clip2.png" width="27" height="41" alt="" class="clip">
        <div class="fold"> <img src="images/paper-fold.png" width="36" height="40" alt=""></div>
              <div class="body">
                      <span class="subdue">  .... Body .....</span> 
                            <img src="images/tansparent.png" width="150" height="176" alt="filler">
                </div>
      </div>