
 <h3>Slim Dashlet</h3>
        <p>Appears at the Scratch Pad. You can view this table at <a href="http://localhost:8888/-ir-sandbox/">http://localhost:8888/-ir-sandbox/</a><hr></p>
         
  
        	<div class="dashlet slim">
            	<div class="titlesection">
                	<h2>Thomas & Mary Group / Shortname / Tommy (Welch) ...</h2><br/>
                	<a href="#" class="rr-link">RISK/REWARD</a><span class="label">Proposal Risk Profile: </span> <span class="prp">MODERATE</span> <a href="#" class="rr-link"> Allocation Settings</a>
            	</div>
                <div class="addinvbtn-container"> <a class="button icon mm addinv" href="#"><span>Add Investments</span></a> </div>
                
                <div class="buttoncontainer">
                    <div class="tia">
                        <span class="label">TARGET INV. AMOUNT</span> 
                        <span class="value">$302,980,678,450.34</span>
                        <span class="label"> Re-allocate amount.</span>
                    </div>
              </div> 
        	</div><!-- x dashlet -->
