
		<h1 class="demo-headline">Buttons</h1>   
    <div class="container">     
      <div id="fui-button" class="pbl"></div>
      
      <div class="demo-row">
        <div class="demo-title">
          <h3>Buttons, Toggles and Check Boxes</h3>
        </div>

        <div class="demo-content">
          <p>
            <strong>Primary</strong> buttons are the most used action buttons. They correspond to primary action of workflow. Usually there are only one Primary button in a workflow. Add "small" to your &lt;a class&gt; for small buttons
          </p>
          <p class="mbl">
            <div class="row buttons">
            <a class="button" href="#"><span>Primary Button</span></a>
            <a class="button small" href="#"><span>Primary Small</span></a>
          </div><!-- /div.row buttons-->
          </p>
<pre class="prettyprint">
&lt;a class="button" href="#"&gt;
  &lt;span&gt;Primary Button&lt;/span&gt;
&lt;/a&gt;
</pre>
              <p class="mbl">
                <div class="row buttons">
            <a class="button disabled" href="#"><span>Disabled Button</span></a>
            <!-- <a class="button small disabled" href="#"><span>Disabled Small</span></a> -->
            </div><!-- /div.row buttons-->
          </p>
<pre class="prettyprint">
&lt;a class="button disabled" href="#"&gt;
  &lt;span&gt;Disabled Button&lt;/span&gt;
&lt;/a&gt;
</pre>
              <p class="mbl">
                <div class="row buttons">
            <a class="button" href="#"><span>Button FW Icon</span><span class="icon-button_forward_arrow"></span></a>
            <!-- <a class="button small" href="#"></span><span>Button FW Icon Small</span><span class="icon-button_forward_arrow"></span></a> -->
            </div><!-- /div.row buttons-->
          </p>
<pre class="prettyprint">
&lt;a class="button" href="#"&gt;
  &lt;span&gt;Button FW Icon&lt;/span&gt;
  &lt;span&gt;class="icon-button_forward_arrow"&lt;/span&gt;
&lt;/a&gt;
</pre>
              <p class="mbl">
                <div class="row buttons">
            <a class="button" href="#"><span class="icon-button_arrow_back"></span><span>Button Back Icon</span></a>
            <!-- <a class="button small" href="#"><span class="icon-button_arrow_back"></span><span>Primary Small</span></a> -->
        </div><!-- /div.row buttons-->
          </p>
<pre class="prettyprint">
&lt;a class="button"&gt;
  &lt;span&gt;Button Back Icon&lt;/span&gt;
  &lt;span&gt;class="icon-button_arrow_back"&lt;/span&gt;
&lt;/a&gt;
&lt;/a&gt;
</pre>

          <p class="ptl">
            <strong>Secondary</strong> corresponds to a secondary action of workflow. These are usually coupled with a primary action button. There can be more than one secondary actions in a workflow.
          </p>
          <p class="mbl">
            <div class="row buttons">
            <a class="button secondary" href="#"><span>Secondary Button</span></a>
            <a class="button secondary small" href="#"><span>Secondary Small</span></a>
            <a class="button secondary disabled" href="#"><span>Secondary Button</span></a>
            <a class="button secondary small disabled" href="#"><span>Secondary Small</span></a>
            <a class="button secondary" href="#"><span>Secondary Button</span><span class="icon-button_forward_arrow"></span></a>
            <a class="button secondary small" href="#"></span><span>Secondary Small</span><span class="icon-button_forward_arrow"></span></a>
            <a class="button secondary" href="#"><span class="icon-button_arrow_back"></span><span>Secondary Button</span></a>
            <a class="button secondary small" href="#"><span class="icon-button_arrow_back"></span><span>Secondary Small</span></a>
            </div><!-- /div.row buttons-->
          </p>
<pre class="prettyprint">
&lt;button class="btn btn-embossed btn-primary"&gt;
  Embossed Button
&lt;/button&gt;
</pre>

          <p class="ptl">
            <strong>Mega Menu</strong> buttons appear in the main Add Investments Megamenu.
          </p>
          <p class="mbl">
            <div class="row buttons">
            <a class="button icon mm addsec" href="#"><span>My Saved Securities</span></a>
            <a class="button icon mm" href="#"><span class="icon-excel_icon excel"></span>Import Excel List</a>
            <a class="button icon mm addsec disabled" href="#"><span>Disabled Green</span> Button</a>
          <a class="button icon mm addinv" href="#"><span>Add Investments</span></a>
        </div><!-- /div.row buttons-->
          </p>
<pre class="prettyprint">
&lt;button class="btn btn-default btn-wide"&gt;
  Cancel
&lt;/button&gt;
</pre>

          <p class="ptl">
            <strong>Action</strong> buttons appear in the dialogs or pop-ups.
          </p>
          <p class="mbl">
            <div class="row buttons">
              <span class="actbtn"><span aria-hidden="true" class="icon-pencil"></span>Rename</span></span>
              <span class="actbtn"><span aria-hidden="true" class="icon-remove"></span>Delete</span></span><br/><br/>
              <span class="actbtn"><span aria-hidden="true" class="icon-briefcase"></span>Portfolio#324</span></span><br/><br/>
              <span class="actbtn"><span aria-hidden="true" class="icon-scales"></span>Weight Securities Evenly</span></span><br/><br/>
              <span class="actbtn"><span aria-hidden="true" class="icon-arrow-down"></span>Zero out Current Holdings</span></span><br/><br/>
              <span class="actbtn disable"><span aria-hidden="true" class="icon-briefcase"></span>Disabled Action Button</span></span>
            </div><!-- /div.row buttons-->
            </button>
          </p>
<pre class="prettyprint">
&lt;button class="btn btn-primary"&gt;
  Save
  &lt;span class="btn-tip"&gt;$300&lt;/span&gt;
&lt;/button&gt;
</pre>

          <p class="ptl">
            <strong>Action</strong> buttons on dark background
          </p>
          <p>
            <div class="dark">
              <span class="actbtn onpanel"><span aria-hidden="true" class="icon-disk"></span>Save Selected Securities</span><br/><br/>
                <span class="actbtn onpanel disabled"><span aria-hidden="true" class="icon-disk"></span>Save (Diasabled)</span>
            </div>
          </p>

<pre class="prettyprint">
&lt;button class="btn btn-default"&gt;Default&lt;/button&gt;
&lt;button class="btn btn-primary"&gt;Primary&lt;/button&gt;
&lt;button class="btn btn-info"&gt;Info&lt;/button&gt;

</pre>

          <p class="ptl">
            <strong>Chart Toggle</strong> appears at the Asset Allocation Sort Line.
          </p>
          <p class="mbl">    
            <div class="charttoggle"><span class="label">View</span></div>
          </p>
<pre class="prettyprint">
&lt;button class="btn btn-default"&gt;Default&lt;/button&gt;
&lt;button class="btn btn-primary"&gt;Primary&lt;/button&gt;
&lt;button class="btn btn-info"&gt;Info&lt;/button&gt;

</pre>
        </div>        
      </div><!-- /.demo-row -->