<div class="module">
<h3>Search by FAID</h3>
<div class="search rounded"> 
        <table width="66%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td rowspan="2"><h4 class="searchby" >Search by:</h4></td>
            <td>
              <h4>FAID (Required)</h4></td>
            <td>&nbsp;</td>
            <td>
              <h4>Full or Partial Client Name (Optional)</h4>
              <label for="client"></label></td>
            <td>&nbsp;
            
            
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>
            <select name="FAID">
              <option>ALL</option>
            </select><br/>
           

            </td>
            <td>and</td>
            <td><input type="text" name="client" class="inset-shadow" id="client" /></td>
            <td><a class="button"><span class="icon-search"></span> Search</a>
            </td>
            <td><a class="call-modal" href="#advanced-search"> Advanced search</a></td>
          </tr>
        </table>

    </div>
</div> <!--/module-->