<div class="section">
    <h1>978 Grid System</h1>  
	<p>This is a representation of the 978 grid system.</p>
	<p>The Grid is divided into 12 even columns of 54px width.</p>
	<p>In Consult Works we break the page up into even columns of multiples of 2, 3, and 4 with a gutter of 30px. </p>
	<p>A 4 column layout will have a width of 222px each, dividing up the page into 4 even sections with a 30px gutter in between. (222*4 + 30*3 = 978px)</p>
	<p>A 3 column layout will have a width of 306px each, dividing up the page into 3 even sections with a 30px gutter in between. (306*3 + 30*2 = 978px)</p>
	<p>To split the layout in half, the page will have a width of 474px each, dividing up the page into half sections with a 30px gutter in between.</p>


</div><!-- /section-->


<div class="module">

<div class="layout-978">
	<div class="row">
		<div class="col1">54px</div>
		<div class="col1">54px</div>
		<div class="col1">54px</div>
		<div class="col1">54px</div>
		<div class="col1">54px</div>
		<div class="col1">54px</div>
		<div class="col1">54px</div>
		<div class="col1">54px</div>
		<div class="col1">54px</div>
		<div class="col1">54px</div>
		<div class="col1">54px</div>
		<div class="col1">54px</div>
		<div class="row-end">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col3">222px</div>
		<div class="col3">222px</div>
		<div class="col3">222px</div>
		<div class="col3">222px</div>
		<div class="row-end">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col4">306px</div>
		<div class="col4">306px</div>
		<div class="col4">306px</div>
		<div class="row-end">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col6">474px</div>
		<div class="col6">474px</div>
		<div class="row-end">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col1">54px</div>
		<div class="col11">894px</div>
		<div class="row-end">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col2">138px</div>
		<div class="col10">810px</div>
		<div class="row-end">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col3">222px</div>
		<div class="col9">726px</div>
		<div class="row-end">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col4">306px</div>
		<div class="col8">642px</div>
		<div class="row-end">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col5">390px</div>
		<div class="col7">558px</div>
		<div class="row-end">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col6">474px</div>
		<div class="col6">474px</div>
		<div class="row-end">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col7">558px</div>
		<div class="col5">390px</div>
		<div class="row-end">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col8">642px</div>
		<div class="col4">306px</div>
		<div class="row-end">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col9">726px</div>
		<div class="col3">222px</div>
		<div class="row-end">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col10">810px</div>
		<div class="col2">138px</div>
		<div class="row-end">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col11">894px</div>
		<div class="col1">54px</div>
		<div class="row-end">&nbsp;</div>
	</div>
	<div class="row">
		978px
	</div>
</div>



<!-- *************************
        Coding Tabs 
***************************-->
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">HTML</a></li>
        <li><a href="#tab2">CSS</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <p>
                <pre class="language-markup">
                    <code>
&lt;div class="layout-978">
	&lt;div class="row">
		&lt;div class="col1">54px&lt;/div>
		&lt;div class="col1">54px&lt;/div>
		&lt;div class="col1">54px&lt;/div>
		&lt;div class="col1">54px&lt;/div>
		&lt;div class="col1">54px&lt;/div>
		&lt;div class="col1">54px&lt;/div>
		&lt;div class="col1">54px&lt;/div>
		&lt;div class="col1">54px&lt;/div>
		&lt;div class="col1">54px&lt;/div>
		&lt;div class="col1">54px&lt;/div>
		&lt;div class="col1">54px&lt;/div>
		&lt;div class="col1">54px&lt;/div>
		&lt;div class="row-end">&nbsp;&lt;/div>
	&lt;/div>
	&lt;div class="row">
		&lt;div class="col3">222px&lt;/div>
		&lt;div class="col3">222px&lt;/div>
		&lt;div class="col3">222px&lt;/div>
		&lt;div class="col3">222px&lt;/div>
		&lt;div class="row-end">&nbsp;&lt;/div>
	&lt;/div>
	&lt;div class="row">
		&lt;div class="col4">306px&lt;/div>
		&lt;div class="col4">306px&lt;/div>
		&lt;div class="col4">306px&lt;/div>
		&lt;div class="row-end">&nbsp;&lt;/div>
	&lt;/div>
	&lt;div class="row">
		&lt;div class="col6">474px&lt;/div>
		&lt;div class="col6">474px&lt;/div>
		&lt;div class="row-end">&nbsp;&lt;/div>
	&lt;/div>
	&lt;div class="row">
		&lt;div class="col1">54px&lt;/div>
		&lt;div class="col11">894px&lt;/div>
		&lt;div class="row-end">&nbsp;&lt;/div>
	&lt;/div>
	&lt;div class="row">
		&lt;div class="col2">138px&lt;/div>
		&lt;div class="col10">810px&lt;/div>
		&lt;div class="row-end">&nbsp;&lt;/div>
	&lt;/div>
	&lt;div class="row">
		&lt;div class="col3">222px&lt;/div>
		&lt;div class="col9">726px&lt;/div>
		&lt;div class="row-end">&nbsp;&lt;/div>
	&lt;/div>
	&lt;div class="row">
		&lt;div class="col4">306px&lt;/div>
		&lt;div class="col8">642px&lt;/div>
		&lt;div class="row-end">&nbsp;&lt;/div>
	&lt;/div>
	&lt;div class="row">
		&lt;div class="col5">390px&lt;/div>
		&lt;div class="col7">558px&lt;/div>
		&lt;div class="row-end">&nbsp;&lt;/div>
	&lt;/div>
	&lt;div class="row">
		&lt;div class="col6">474px&lt;/div>
		&lt;div class="col6">474px&lt;/div>
		&lt;div class="row-end">&nbsp;&lt;/div>
	&lt;/div>
	&lt;div class="row">
		&lt;div class="col7">558px&lt;/div>
		&lt;div class="col5">390px&lt;/div>
		&lt;div class="row-end">&nbsp;&lt;/div>
	&lt;/div>
	&lt;div class="row">
		&lt;div class="col8">642px&lt;/div>
		&lt;div class="col4">306px&lt;/div>
		&lt;div class="row-end">&nbsp;&lt;/div>
	&lt;/div>
	&lt;div class="row">
		&lt;div class="col9">726px&lt;/div>
		&lt;div class="col3">222px&lt;/div>
		&lt;div class="row-end">&nbsp;&lt;/div>
	&lt;/div>
	&lt;div class="row">
		&lt;div class="col10">810px&lt;/div>
		&lt;div class="col2">138px&lt;/div>
		&lt;div class="row-end">&nbsp;&lt;/div>
	&lt;/div>
	&lt;div class="row">
		&lt;div class="col11">894px&lt;/div>
		&lt;div class="col1">54px&lt;/div>
		&lt;div class="row-end">&nbsp;&lt;/div>
	&lt;/div>
	&lt;div class="row">
		978px
	&lt;/div>
&lt;/div>
                    </code>
                </pre>
            </p>
        </div><!-- /tab1-->
     
        <div id="tab2" class="tab">
            <p>
                <pre class="language-css">
                    <code>
div.layout-978 { width: 978px; margin: 0px auto; }

div.row-end { clear: both; font: 1px/1px sans-serif; height: 1px; overflow: hidden; }

div.col1, div.col2, div.col3, div.col4, div.col5, div.col6, div.col7, div.col8, div.col9, div.col10, div.col11,div.col12 { float: left; margin-left: 30px; }
div.col1:first-child, div.col2:first-child, div.col3:first-child, div.col4:first-child, div.col5:first-child, div.col6:first-child, div.col7:first-child, div.col8:first-child, div.col9:first-child, div.col10:first-child, div.col11:first-child, div.col12:first-child { margin-left: 0px; }
div.col1 { width: 54px; }
div.col2 { width: 138px; }
div.col3 { width: 222px; }
div.col4 { width: 306px; }
div.col5 { width: 390px; }
div.col6 { width: 474px; }
div.col7 { width: 558px; }
div.col8 { width: 642px; }
div.col9 { width: 726px; }
div.col10 { width: 810px; }
div.col11 { width: 894px; }
div.col12 { width: 978px; }
                    </code>
                </pre>
            </p>
        </div><!-- /tab2-->

    </div><!-- /tab-content-->

</div><!-- /tabs-->
 
 


</div><!-- /module-->
