<!-- ********************************************************

**********************************************************-->

<link rel="stylesheet" href="styles/prism.css" />
<script src="js/prism.js"></script>

 
<!-- *************************
        Coding Tabs 
***************************-->
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">HTML</a></li>
        <li><a href="#tab2">CSS</a></li>
        <li><a href="#tab3">JavaScript</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <p>
                <pre class="language-markup">
                    <code>
                      <!--HTML-->
                    </code>
                </pre>
            </p>
        </div><!-- /tab1-->
     
        <div id="tab2" class="tab">
            <p>
                <pre class="language-css">
                    <code>
                      <!--CSS-->
                    </code>
                </pre>
            </p>
        </div><!-- /tab2-->
     
        <div id="tab3" class="tab">
            <p>
                <pre class="language-javascript">
                    <code>
                      <!--Javascript-->
                    </code>
                </pre>
            </p>
        </div><!-- /tab3-->

    </div><!-- /tab-content-->

</div><!-- /tabs-->
 
 