 
	<style>

/*
	TIP: 
	Background: #f0f0f0
	Text: #2e2e2e
	Gray: #949494
	Light Gray: #d7d7d7

	Blue: #556996
	Light Blue: #a5b9d1
	Dark Blue: #21354F


	Alert Red: #e54e4b
	Orange: #D5600A 
	Green: #3c9d1b;

	Yellow: #FDF2D3; fffdef
	Pale Yellow: #FFFAF0
	Dull yello: #eeebe2;
	
	
	*/

.box{
    padding: 15px;
    border: 1px dotted black;
}
/** defaults/ primarys **/
.background{
    background-color: #f0f0f0;
}
.text{
    background-color: #2e2e2e;
    color: white;
}
.gray{
    background-color: #949494;
}
.lightgray{
    background-color: #d7d7d7;
}
/** Blues**/
.darkblue{
    background-color: #21354f;
    color: white;
}
.blue{
    background-color: #556696;
 	color: white;   
}
.lightblue{
    background-color: #a5b9d1;
}

/** alerts **/
.red{
    background-color: #e54e4b; 
}
.orange{
    background-color: #d5500a;
}
.green{
    background-color: #3c9d1b;
}

/** others**/
.dullyellow{
    background-color: #eeebe2; 
}
.yellow{
    background-color: #fdf2d3;
}
.PaleYellow{
    background-color: #fffaf0;
}

dt, dd{text-align: center;
font-size: 15px;}
dt{font-weight: bold;
text-transform: uppercase;}
</style>

<div class="section">
	<h1>Color Palette</h1>  
	<p>This is the color palette used across all Consult Works applications.</p> 
</div><!-- /section-->  


<h3></h3>
<!-- Primarys-->
<dl class= "col-1-4 box text">
<dt>#2e2e2e</dt>
<dd>Text</dd>
</dl>

<dl class= "col-1-4 box gray">
<dt>#949494</dt>
<dd>Gray</dd>
</dl>

<dl class= "col-1-4 box lightgray">
<dt>#d7d7d7</dt>
<dd>Light Gray</dd>
</dl>

<dl class= "col-1-4 box background">
<dt>#f0f0f0</dt>
<dd>Background</dd>
</dl>

<!-- Blues-->
<dl class= "col-1-3 box darkblue">
<dt>#21354f</dt>
<dd>Dark Blue</dd>
</dl>

<dl class= "col-1-3 box blue">
<dt>#556696</dt>
<dd>Blue</dd>
</dl>

<dl class= "col-1-3 box lightblue">
<dt>#a5b9d1</dt>
<dd>Light Blue</dd>
</dl>


<!-- Alerts-->
<dl class= "col-1-3 box red">
<dt>#eeebe2</dt>
<dd>Red</dd>
</dl>

<dl class= "col-1-3 box orange">
<dt>#fdf2d3</dt>
<dd>Orange</dd>
</dl>

<dl class= "col-1-3 box green">
<dt>#fffaf0</dt>
<dd>Green</dd>
</dl>


<!-- Others-->
<dl class= "col-1-3 box yellow">
<dt>#fdf2d3</dt>
<dd>Yellow</dd>
</dl>

<dl class= "col-1-3 box dullyellow">
<dt>#eeebe2</dt>
<dd>Dull Yellow</dd>
</dl>


<dl class= "col-1-3 box PaleYellow">
<dt>#fffaf0</dt>
<dd>Pale Yellow</dd>
</dl>
