
<div class="row"> 
<h1>Containers</h1>   
<br>

    	<h3>Main Modal</h3>
		<div id="ir-modal">
        	<div class="header"><h2>Build Portfolio</h2><div class="right"><a href="#" class="close"><img src="images/x.png" width="9" height="9" alt=""></a></div></div>
            <div class="content">.... Body / min-width= 858px .....<img src="images/tansparent.png" width="300" height="100" alt="filler"></div>
            <div class="footer"><a class="button secondary left" href="#"><span>Back</span></a>  <div class="right"><a class="button" href="#"><span>Next</span></a></div> </div>
             </div>   <!-- /ir-modal -->
        
<!-- *************************
        Coding Tabs 
***************************-->
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#ir-modal-tab1">HTML</a></li>
        <li><a href="#ir-modal-tab2">CSS</a></li>
    </ul>

    <div class="tab-content">
        <div id="ir-modal-tab1" class="tab active">
            <p>
                <pre class="language-markup">
                    <code>
&lt;div id="ir-modal"&gt;
  &lt;div class="header"&gt;
    &lt;h2&gt;Build Portfolio&lt;/h2&gt;
      &lt;div class="right"&gt;
        &lt;a href="#" class="close"&gt;
          &lt;img src="images/x.png" width="9" height="9" alt="&gt;
        &lt;/a&gt;
      &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="content"&gt;
    .... Body / min-width= 858px .....
    &lt;img src="images/tansparent.png" width="300" height="100" alt="filler"&gt;
  &lt;/div&gt;
  &lt;div class="footer"&gt;
    &lt;a class="button secondary left" href="#"&gt;
      &lt;span&gt;Back&lt;/span&gt;
    &lt;/a&gt;
  &lt;div class="right"&gt;
    &lt;a class="button" href="#"&gt;
      &lt;span&gt;Next&lt;/span&gt;
    &lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;
                    </code>
                </pre>
            </p>
        </div><!-- /tab1-->
     
        <div id="ir-modal-tab2" class="tab">
            <p>
                <pre class="language-css">
                    <code>
#ir-modal{
  min-width:858px;
  background:url(../images/modal-body-texture.png) repeat;
  -moz-box-shadow:    0px 0px 4px 4px #ccc;
   -webkit-box-shadow: 0px 0px 4px 4px #ccc;
   box-shadow:         0px 0px 4px 4px #ccc;
   -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 60px auto;
  min-width:942px;
  max-width:1250px;
  width:80%;
  
}
#ir-modal .header, #ir-modal .footer, #ir-modal .body {
  padding:12px;
}

#ir-modal .header {
  background:#FFF;
   -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border-bottom: #d7d7d7 1px solid;
  clear:both;
}  

#ir-modal .header h2, #ir-dialog .header h2, #ir-popup h2 {
  font-size:12px;
  font-weight:bold;
  margin:0;
  display:inline-block;
}

#ir-modal .content {
  border-top:#fff 1px solid;
  border-bottom:#fff 1px solid;
  clear:both;
  
}

#ir-modal .footer {
  background:#FFF;
   -moz-border-radius:  0 0 4px 4px;
  -webkit-border-radius:  0 0 4px 4px;
  border-radius:  0 0 4px 4px;
  border-top: #d7d7d7 1px solid;
  overflow:auto;
}  

#ir-modal div.right, #ir-dialog div.right {
  float:right;
}


#ir-modal .left {
  float:left;
}
                    </code>
                </pre>
            </p>
        </div><!-- /tab2-->

    </div><!-- /tab-content-->

</div><!-- /tabs-->
<br>
<br>

    	
    	<div class="col8">
            	<h3>Dialog</h3>
                <div id="ir-dialog">
                	<div class="header">
                    	<h2><span aria-hidden="true" class="icon-sp_full"></span>Create New Portfolio</h2>
                        <div class="right"><a href="#" class="close"><img src="images/x.png" width="9" height="9" alt=""></a></div>
                  </div>
                    <hr/>
                  <div class="body">
                         <p class="label">PORTFOLIO NAME: </p>
                         <input name="" type="text" size="60">
                  </div>
                  <div class="footer">
                     	<a class="button secondary small left" href="#"><span>Cancel</span></a>
                      <div><a class="button small" href="#"><span>Create</span></a></div>
                  </div>
                </div>
      </div>

<!-- *************************
        Coding Tabs 
***************************-->
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#ir-dialog-tab1">HTML</a></li>
        <li><a href="#ir-dialog-tab2">CSS</a></li>
    </ul>

    <div class="tab-content">
        <div id="ir-dialog-tab1" class="tab active">
            <p>
                <pre class="language-markup">
                    <code>
&lt;div id="ir-dialog"&gt;
  &lt;div class="header"&gt;
    &lt;h2&gt;&lt;span aria-hidden="true" class="icon-sp_full"&gt;&lt;/span&gt;Create New Portfolio&lt;/h2&gt;
    &lt;div class="right"&gt;
      &lt;a href="#" class="close"&gt;&lt;img src="images/x.png" width="9" height="9" alt=""&gt;&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;hr/&gt;

  &lt;div class="body"&gt;
      &lt;p class="label"&gt;PORTFOLIO NAME:&lt;/p&gt;
      &lt;input name="" type="text" size="60"&gt;
  &lt;/div&gt;

  &lt;div class="footer"&gt;
      &lt;pa class="button secondary small left" href="#"&gt;&lt;span&gt;Cancel&lt;/span&gt;&lt;/a&gt;
      &lt;div&gt;&lt;a class="button small" href="#"&gt;&lt;span&gt;Create&lt;/span&gt;&lt;/a&gt;&lt;/div&gt; 
  &lt;/div&gt;  
&lt;/div&gt; 
                    </code>
                </pre>
            </p>
        </div><!-- /tab1-->
     
        <div id="ir-dialog-tab2" class="tab">
            <p>
                <pre class="language-css">
                    <code>
#ir-modal div.right, #ir-dialog div.right {
  float:right;
}

#ir-dialog, #ir-popup{
  background:url(../images/modal-body-texture.png) repeat;
  -moz-box-shadow:    0px 0px 4px 4px #ccc;
   -webkit-box-shadow: 0px 0px 4px 4px #ccc;
   box-shadow:         0px 0px 4px 4px #ccc;
   -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding:12px;
  text-align:left;
}

#ir-dialog {
  width:560px;
}

#ir-dialog .body{
  margin: 12px 0 20px 0;
}

#ir-dialog p.label{
  color:#949494;
  font-size:10px;
  font-weight:bold;
}

#ir-dialog .footer, #ir-popup .footer { overflow:auto; }
#ir-dialog .footer div, #ir-popup .footer div  { float:left; margin-left: 8px; }
                    </code>
                </pre>
            </p>
        </div><!-- /tab2-->
    
    </div><!-- /tab-content-->

</div><!-- /tabs-->
<br>
<br>

            <div class="col4">
            	<h3>Pop-up</h3>
                <div id="ir-popup">
                	<div class="header">
                    	<h2><span aria-hidden="true" class="icon-remove"></span>Delete Portfolio</h2>
                    </div>
                    <hr/>
                   	<div class="body">
                     <br/>
                    	<table>
                        	<tr>
                            	<td> <span class="icon-spam" style="font-size:18px; color:#d5600a; "></span></td>
                              <td>You are about to delete the portfolio #2345 , are you sure? </td>
                          </tr>
                        </table>
                        <br/>
                  </div>
                  <div class="footer">
                     	<a class="button secondary small left" href="#"><span>Cancel</span></a><div> <a class="button small" href="#"><span>Delete</span></a></div>
                  </div>
                </div>
            </div>
            <div class="row-end">&nbsp;</div>

<!-- *************************
        Coding Tabs 
***************************-->
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">HTML</a></li>
        <li><a href="#tab2">CSS</a></li>
        <li><a href="#tab3">JavaScript</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <p>
                <pre class="language-markup">
                    <code>
&lt;div id="ir-popup">
  &lt;div class="header">
    &lt;h2>
      &lt;span aria-hidden="true" class="icon-remove">&lt;/span>
      Delete Portfolio
    &lt;/h2>
  &lt;/div>
    &lt;hr/>
  &lt;div class="body">
    &lt;br/>
    &lt;table>
      &lt;tr>
        &lt;td> &lt;span class="icon-spam" style="font-size:18px; color:#d5600a; ">&lt;/span>&lt;/td>
        &lt;td>You are about to delete the portfolio #2345 , are you sure? &lt;/td>
      &lt;/tr>
     &lt;/table>
     &lt;br/>
  &lt;/div>
  &lt;div class="footer">
    &lt;a class="button secondary small left" href="#">
      &lt;span>Cancel&lt;/span>
    &lt;/a>
    &lt;div> &lt;a class="button small" href="#">
     &lt;span>Delete&lt;/span>&lt;/a>&lt;/div>
  &lt;/div>
&lt;/div>
                    </code>
                </pre>
            </p>
        </div><!-- /tab1-->
     
        <div id="tab2" class="tab">
            <p>
                <pre class="language-css">
                    <code>
#ir-modal .header h2, #ir-dialog .header h2, #ir-popup h2 {
  font-size:12px;
  font-weight:bold;
  margin:0;
  display:inline-block;
}

#ir-dialog, #ir-popup{
  background:url(../images/modal-body-texture.png) repeat;
  -moz-box-shadow:    0px 0px 4px 4px #ccc;
   -webkit-box-shadow: 0px 0px 4px 4px #ccc;
   box-shadow:         0px 0px 4px 4px #ccc;
   -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding:12px;
  text-align:left;
}

#ir-dialog .footer, #ir-popup .footer { overflow:auto; }
#ir-dialog .footer div, #ir-popup .footer div  { float:left; margin-left: 8px; }

#ir-popup {
  width: 204px;
}

                    </code>
                </pre>
            </p>
        </div><!-- /tab2-->
     
        <div id="tab3" class="tab">
            <p>
                <pre class="language-javascript">
                    <code>
                      <!--Javascript-->
                    </code>
                </pre>
            </p>
        </div><!-- /tab3-->

    </div><!-- /tab-content-->

</div><!-- /tabs-->
<br>
<br>


<h3><span class="subdue">Scratch Pad:</span> Container</h3>
      <p>This contains all the elements of the scratch pad. The top-margin must be exactly laid on top of the sort-line above (see spec).</p>  
      <div id="ir-scratchpad-container">
        <img src="images/clip2.png" width="27" height="41" alt="" class="clip">
        <div class="fold"> <img src="images/paper-fold.png" width="36" height="40" alt=""></div>
              <div class="body">
                      <span class="subdue">  .... Body .....</span> 
                            <img src="images/tansparent.png" width="150" height="176" alt="filler">
                </div>
      </div>
<br><br>
<pre class="prettyprint">
&lt;div id="ir-scratchpad-container"&gt; 
    &lt;img src="images/clip2.png" width="27" height="41" alt="" class="clip"&gt; 
      &lt;div class="fold"&gt;
       &lt;img src="images/paper-fold.png" width="36" height="40" alt=""&gt;
      &lt;/div&gt;
  &lt;div class="body"&gt;
    &lt;span class="subdue"&gt;  .... Body .....&lt;/span&gt; 
      &lt;img src="images/tansparent.png" width="150" height="176" alt="filler"&gt;     
  &lt;/div&gt;
&lt;/div&gt;


</pre>
      
        </div> <!-- row -->