
<div class="row"> 
<h1>Containers</h1>   
<br>

    	<h3>Main Modal</h3>
		<div id="ir-modal">
        	<div class="header"><h2>Build Portfolio</h2><div class="right"><a href="#" class="close"><img src="images/x.png" width="9" height="9" alt=""></a></div></div>
            <div class="content">.... Body / min-width= 858px .....<img src="images/tansparent.png" width="300" height="100" alt="filler"></div>
            <div class="footer"><a class="button secondary left" href="#"><span>Back</span></a>  <div class="right"><a class="button" href="#"><span>Next</span></a></div> </div>
             </div>   
        
<pre class="prettyprint">
&lt;a class="button" href="#"&gt;
  &lt;span&gt;Primary Button&lt;/span&gt;
&lt;/a&gt;
</pre>


    	
    	<div class="col8">
            	<h3>Dialog</h3>
                <div id="ir-dialog">
                	<div class="header">
                    	<h2><span aria-hidden="true" class="icon-sp_full"></span>Create New Portfolio</h2>
                        <div class="right"><a href="#" class="close"><img src="images/x.png" width="9" height="9" alt=""></a></div>
                    </div>
                    <hr/>
                    <div class="body">
                         <p class="label">PORTFOLIO NAME: </p>
                         <input name="" type="text" size="60">
                  </div>
                     <div class="footer">
                     	<a class="button secondary small left" href="#"><span>Cancel</span></a><div> <a class="button small" href="#"><span>Create</span></a></div>
                  </div>
          </div>
      </div>
<pre class="prettyprint">
&lt;a class="button" href="#"&gt;
  &lt;span&gt;Primary Button&lt;/span&gt;
&lt;/a&gt;
</pre>

            <div class="col4">
            	<h3>Pop-up</h3>
                <div id="ir-popup">
                	<div class="header">
                    	<h2><span aria-hidden="true" class="icon-remove"></span>Delete Portfolio</h2>
                    </div>
                    <hr/>
                   	<div class="body">
                     <br/>
                    	<table>
                        	<tr>
                            	<td> <span class="icon-spam" style="font-size:18px; color:#d5600a; "></span></td>
                              <td>You are about to delete the portfolio #2345 , are you sure? </td>
                          </tr>
                        </table>
                        <br/>
                  </div>
                  <div class="footer">
                     	<a class="button secondary small left" href="#"><span>Cancel</span></a><div> <a class="button small" href="#"><span>Delete</span></a></div>
                  </div>
                </div>
            </div>
            <div class="row-end">&nbsp;</div>

<pre class="prettyprint">
&lt;a class="button" href="#"&gt;
  &lt;span&gt;Primary Button&lt;/span&gt;
&lt;/a&gt;
</pre>
        </div> <!-- row -->