<div class="row"> 
<h1>Custom Works</h1>
  <p>
  Here are some custom examples that we've created for specific Consult Works appilations. They all use the referenced common components we outline in this sandbox.
  </p>


  <!--Asset Allocation Table -->
 <?php include("_includes/tables/assetAllocationTable.html");?>
 <br><br>

  <!--Slim Dashlet -->
<?php include("_includes/slimDashlet.html");?>
<br><br>

<!--Billing Dashlet -->
<h3>Billing Dashlet</h3>
        <p>Dashlet for the tables displayed in Billing. You can view this table at <a href="http://pixelblot.com/test/-billing/">http://pixelblot.com/test/-billing/</a></p>
<img src="./images/screenshots/billing_dashlet.png">
<br><br>

<h3>FP Tool Unit Container</h3>
        <p>Dashlet for Financial Planning Engagement Tracker. You can view this table at <a href="http://pixelblot.com/test/-fp-tool/manage.php">http://pixelblot.com/test/-fp-tool/manage.php</a></p>
<img src="./images/screenshots/fptool_unit_container.png">



</div> <!--/row-->