<div class="row"> 
<h1>Filters</h1>     
<br><br>

<h3>Custom Filter Panel</h3>
            
            <div class="custom-filter-panel">
            	STRATEGY
                <br/>
                <br>
                <button class="dropdown" role="button">
                	Core
                </button>
                <br/>
                <button class="dropdown" role="button">
                	Risk Category
                </button>
            </div><!--x custom-filter-panel -->
            
             <div class="custom-filter">
            	<strong>Select 100% Allocation</strong>
                <br/>
                <input type="radio" id="r1" name="allocation" />
            	<label for="r1"><span></span>None</label>
                <br>
  				<input type="radio" id="r2" name="allocation" />
            	<label for="r2"><span></span>Equity</label>
                <br>
                <input type="radio" id="r3" name="allocation" />
            	<label for="r3"><span></span>Fixed Income</label>
                <hr>
            </div><!--x custom-filter -->
            
            <div class="custom-filter">
            	<strong>Tax Awareness?</strong>
                <br/>
                <input type="radio" id="r4" name="tax" />
            	<label for="r4"><span></span>Yes</label>
                <br>
                <input type="radio" id="r5" name="tax" />
            	<label for="r5"><span></span>No</label>
                <hr>
            </div><!--x custom-filter -->

<pre class="prettyprint">
&lt;div class="custom-filter-panel"&gt;
STRATEGY
&lt;br/&gt;
&lt;br&gt;
    &lt;button class="dropdown" role="button"&gt;
    Core
    &lt;/button&gt;
&lt;br/&gt;
    &lt;button class="dropdown" role="button"&gt;
    Risk Category
    &lt;/button&gt;
&lt;/div&gt;

&lt;div class="custom-filter-panel"&gt;
    &lt;strong&gt;Select 100% Allocation&lt;/strong&gt;
        &lt;br/&gt;
            &lt;input type="radio" id="r1" name="allocation" /&gt;
            &lt;label for="r1"&gt;&lt;span&gt;&lt;/span&gt;None&lt;/label&gt;
        &lt;br&gt;
            &lt;input type="radio" id="r2" name="allocation" /&gt;
            &lt;label for="r2"&gt;&lt;span&gt;&lt;/span&gt;Equity&lt;/label&gt;
        &lt;br&gt;
            &lt;input type="radio" id="r3" name="allocation" /&gt;
            &lt;label for="r3"&gt;&lt;span&gt;&lt;/span&gt;Fixed Income&lt;/label&gt;
        &lt;hr&gt;
&lt;/div&gt;

&lt;div class="custom-filter-panel"&gt;
    &lt;strong&gt;Tax Awareness?&lt;/strong&gt;
        &lt;br/&gt;
            &lt;input type="radio" id="r4" name="tax" /&gt;
            &lt;label for="r1"&gt;&lt;span&gt;&lt;/span&gt;Yes&lt;/label&gt;
        &lt;br&gt;
            &lt;input type="radio" id="r5" name="tax" /&gt;
            &lt;label for="r2"&gt;&lt;span&gt;&lt;/span&gt;No&lt;/label&gt;
        &lt;hr&gt;
&lt;/div&gt;



</pre>

</div> <!-- /row -->