<div class="row"> 
<h1>Filters</h1>     
<br><br>

<h3>Custom Filter Panel</h3>
            
<div class="filters">
            
    <fieldset>
        <form action="#" method="post" accept-charset="utf-8" class="example_form">
            <table>
                <tr>
                    <th><span class="label">REGION</span></th>
                    <th><span class="label">DIVISION</span></th>
                    <th><span class="label">COMPLEX</span></th>
                    <th><span class="label">BRANCH</span></th>
                    <th><span class="label">DATE</span></th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <td>
                        <select name="region" class="default" tabindex="2">
                            <option value="">Region 1</option>
                            <option value="AU">Australia</option>
                            <option value="CA">Canada</option>
                            <option value="DE">Germany</option>
                        </select>
                    </td>
                    <td>
                        <select name="division" class="default" tabindex="2">
                            <option value="">Division 1</option>
                            <option value="AU">Australia</option>
                            <option value="CA">Canada</option>
                            <option value="DE">Germany</option>
                        </select>
                    </td>
                    <td>
                        <select name="complex" class="default" tabindex="2">
                            <option value="">Complex 1</option>
                            <option value="AU">Australia</option>
                            <option value="CA">Canada</option>
                            <option value="DE">Germany</option>
                            <option value="JP">Japan</option>
                        </select>
                    </td>
                    <td>
                         <select name="branch" class="default" tabindex="2">
                            <option value="">Branch 1</option>
                            <option value="AU">Australia</option>
                            <option value="CA">Canada</option>
                            <option value="DE">Germany</option>
                            <option value="JP">Japan</option>
                        </select>
                    </td>
                    <td>
                         <select name="date" class="default" tabindex="2">
                            <option value="">mm/dd/yy</option>
                            <option value="AU">Australia</option>
                            <option value="CA">Canada</option>
                            <option value="DE">Germany</option>
                            <option value="JP">Japan</option>
                        </select>
                    </td>
                    <td><a class="button secondary">Go</a></td>
                </tr>
             </table>
            
          </form>
    </fieldset>        
            
</div>
       


<br>
<!-- *************************
        Coding Tabs 
***************************-->
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">HTML</a></li>
        <li><a href="#tab2">CSS</a></li>
        <li><a href="#tab3">JavaScript</a></li>
    </ul>

<div class="tab-content">
    <div id="tab1" class="tab active">
        <p>
            <pre class="language-markup">
                <code>
                    &lt;div class="custom-filter-panel"&gt;
                    STRATEGY
                    &lt;br/&gt;
                    &lt;br&gt;
                        &lt;button class="dropdown" role="button"&gt;
                        Core
                        &lt;/button&gt;
                    &lt;br/&gt;
                        &lt;button class="dropdown" role="button"&gt;
                        Risk Category
                        &lt;/button&gt;
                    &lt;/div&gt;

                    &lt;div class="custom-filter-panel"&gt;
                        &lt;strong&gt;Select 100% Allocation&lt;/strong&gt;
                            &lt;br/&gt;
                                &lt;input type="radio" id="r1" name="allocation" /&gt;
                                &lt;label for="r1"&gt;&lt;span&gt;&lt;/span&gt;None&lt;/label&gt;
                            &lt;br&gt;
                                &lt;input type="radio" id="r2" name="allocation" /&gt;
                                &lt;label for="r2"&gt;&lt;span&gt;&lt;/span&gt;Equity&lt;/label&gt;
                            &lt;br&gt;
                                &lt;input type="radio" id="r3" name="allocation" /&gt;
                                &lt;label for="r3"&gt;&lt;span&gt;&lt;/span&gt;Fixed Income&lt;/label&gt;
                            &lt;hr&gt;
                    &lt;/div&gt;

                    &lt;div class="custom-filter-panel"&gt;
                        &lt;strong&gt;Tax Awareness?&lt;/strong&gt;
                            &lt;br/&gt;
                                &lt;input type="radio" id="r4" name="tax" /&gt;
                                &lt;label for="r1"&gt;&lt;span&gt;&lt;/span&gt;Yes&lt;/label&gt;
                            &lt;br&gt;
                                &lt;input type="radio" id="r5" name="tax" /&gt;
                                &lt;label for="r2"&gt;&lt;span&gt;&lt;/span&gt;No&lt;/label&gt;
                            &lt;hr&gt;
                    &lt;/div&gt;
        </code>
    </pre>
</p>
    </div>
 
    <div id="tab2" class="tab">
        <p>Tab #2 content goes here!</p>
        <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis. In hac habitasse platea dictumst. Ut euismod tempus hendrerit. Morbi ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>
    </div>
 
    <div id="tab3" class="tab">
        <p>Tab #3 content goes here!</p>
        <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum ri.</p>
    </div>

</div>


</div> <!-- /row -->