<div class="row">
    <h1>Headers</h1>  
<p>Examples of common Headers displayed in CW apps.</p>
<br><br>

<!-- ********************************************************
                    Application headings
**********************************************************-->

<?php include("_includes/typography/h1.html");?>

<!-- ********************************************************
                    Top Nav
**********************************************************-->
        <h3>Top Nav</h3>
        <p> This is a persistent element  that appears on top of the dashlet. It serves as navigation. It is not a breadcrumb as no hierarchy is being represented.</p>
        <ul id="topnav">
                <li><a href="#"><span class="icon-home"></span>Build Portfolio</a></li>
                <li> Screener</li> 
                <li><a href="#">Scratch Pad</a></li>
        </ul>

<!-- ***************
topnav Coding Tabs 
******************-->
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#topnav-tab1">HTML</a></li>
        <li><a href="#topnav-tab2">CSS</a></li>
    </ul>

    <div class="tab-content">
        <div id="topnav-tab1" class="tab active">
            <p>
                <pre class="language-markup">
                    <code>
&lt;ul id="topnav"&gt;
        &lt;li&gt;&lt;a href="#"&gt;&lt;span class="icon-home"&gt;&lt;/span&gt;Build Portfolio&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;Screener&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Scratch Pad&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
                    </code>
                </pre>
            </p>
        </div><!-- /tab1-->
     
        <div id="topnav-tab2" class="tab">
            <p>
                <pre class="language-css">
                    <code>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#topnav { 
    font-weight:bold;
    color:#949494;
}
#topnav li { display:inline; padding-right: 20px;}
#topnav li:after { content:"";
   position: absolute;
   width: 0;
   height: 0;
   border-right: 1px solid #949494;
   brder-top: 4px solid #949494;
   border-bottom: 1em solid #949494;
   margin: 0 0 0 10px;
}

#topnav li:last-child:after { display:none; }
#topnav li a { color:#556996; text-decoration: none; }
#topnav li a:hover { color:#556996; text-decoration: underline; }
                    </code>
                </pre>
            </p>
        </div><!-- /tab2-->

    </div><!-- /tab-content-->

</div><!-- /tabs-->
<br>
<br>

<!-- ********************************************************
                        Sortline-
**********************************************************-->

        <h3>Sort Line</h3>
        <p class="spcblo">This is a type of a delimiter that seperates the header section from the body of a screen.</p>
        <div id="sortline">
            <h2>ACCOUNTS </h2> <span class="label">as of 04/12/2013</span><a href="#"><span class="label icon-Refresh"></span></a>
            <div class="right">
                <div class="targtoggle"><span class="label">Edit by</span></div>
                <div class="sortby">
                    <span class="label">Sort by</span>
                    <button class="dropdown" role="button"> Security </button>
                </div>
                <div class="ttoggle sort">
                    <div class="expand"><span class="icon-plus"></span>EXPAND ALL</div>
                    <div class="collapse hide"><span class="icon-minus"></span>COLLAPSE ALL</div>
                </div>
            </div>
               
                <hr/>
            
        </div> <!--x sortline -->

<!-- *************************
        Coding Tabs 
***************************-->
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#Sortline-tab1">HTML</a></li>
        <li><a href="#Sortline-tab2">CSS</a></li>
    </ul>

    <div class="tab-content">
        <div id="Sortline-tab1" class="tab active">
            <p>
                <pre class="language-markup">
                    <code>
&lt;div id="sortline"&gt;
    &lt;h2&gt;ACCOUNTS&lt;/h2&gt; 
    &lt;span class="label"&gt; as of 04/12/2013&lt;/span&gt; 
    &lt;a href="#"&gt;
        &lt;span class="label icon-Refresh"&gt;&lt;/span&gt;
    &lt;/a&gt; 
&lt;div&gt;
                    </code>
                </pre>
            </p>
        </div><!-- /tab1-->
     
        <div id="Sortline-tab2" class="tab">
            <p>
                <pre class="language-css">
                    <code>
#sortline h2 { color: #21354f; font-size: 12px; font-weight: bold; margin: 0 3px 0 0; display:inline-block;}
#sortline .label { font-weight: normal;}
#sortline #refresher{ float: left;}
#sortline hr { margin:0;}
.refresher { cursor:pointer; }

#sortline a {
    text-decoration: none;
    margin-left: 3px;
}
#sortline .right {
    position:absolute;
    top: -16px;
    left: 450px;
    width: 356px;

}

#sortline .right .targtoggle { float:left; width: 110px; margin-top:6px;  }

#sortline .right .sortby { float:left; width: 130px; margin-left:15px; }
                    </code>
                </pre>
            </p>
        </div><!-- /tab2-->
     
    </div><!-- /tab-content-->

</div><!-- /tabs-->
<br>
<br>


</div> <!--/row -->