
<div class="row"> 
    <h1>Icons</h1>
  <p>Font Face icons and its classes</p>
  <p>To add an icon insert the icon class name into a &lt;span&gt; with a class="iconname" </p>
  <div class="row">



<!---***************** arrow-down Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Arrow Down</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/arrow-down.png"></td>
  <td><img src="./icon_images/blue_icons/32/arrow-down.png"></td> 
  <td><img src="./icon_images/blue_icons/24/arrow-down.png"></td>
  <td><img src="./icon_images/blue_icons/16/arrow-down.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/arrow-down.png"></td>
  <td><img src="./icon_images/white_icons/32/arrow-down.png"></td> 
  <td><img src="./icon_images/white_icons/24/arrow-down.png"></td>
  <td><img src="./icon_images/white_icons/16/arrow-down.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** arrow-down2 Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Arrow Down2</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/arrow-down2.png"></td>
  <td><img src="./icon_images/blue_icons/32/arrow-down2.png"></td> 
  <td><img src="./icon_images/blue_icons/24/arrow-down2.png"></td>
  <td><img src="./icon_images/blue_icons/16/arrow-down2.png"></td>
</tr>

<tr class="white">
  <td><img src="./icon_images/white_icons/64/arrow-down2.png"></td>
  <td><img src="./icon_images/white_icons/32/arrow-down2.png"></td> 
  <td><img src="./icon_images/white_icons/24/arrow-down2.png"></td>
  <td><img src="./icon_images/white_icons/16/arrow-down2.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** arrow-up Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Arrow Up</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/arrow-up.png"></td>
  <td><img src="./icon_images/blue_icons/32/arrow-up.png"></td> 
  <td><img src="./icon_images/blue_icons/24/arrow-up.png"></td>
  <td><img src="./icon_images/blue_icons/16/arrow-up.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/arrow-up.png"></td>
  <td><img src="./icon_images/white_icons/32/arrow-up.png"></td> 
  <td><img src="./icon_images/white_icons/24/arrow-up.png"></td>
  <td><img src="./icon_images/white_icons/16/arrow-up.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** bars Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Bars</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/bars.png"></td>
  <td><img src="./icon_images/blue_icons/32/bars.png"></td> 
  <td><img src="./icon_images/blue_icons/24/bars.png"></td>
  <td><img src="./icon_images/blue_icons/16/bars.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/bars.png"></td>
  <td><img src="./icon_images/white_icons/32/bars.png"></td> 
  <td><img src="./icon_images/white_icons/24/bars.png"></td>
  <td><img src="./icon_images/white_icons/16/bars.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** cancel-circle Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Cancel Circle</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/cancel-circle.png"></td>
  <td><img src="./icon_images/blue_icons/32/cancel-circle.png"></td> 
  <td><img src="./icon_images/blue_icons/24/cancel-circle.png"></td>
  <td><img src="./icon_images/blue_icons/16/cancel-circle.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/cancel-circle.png"></td>
  <td><img src="./icon_images/white_icons/32/cancel-circle.png"></td> 
  <td><img src="./icon_images/white_icons/24/cancel-circle.png"></td>
  <td><img src="./icon_images/white_icons/16/cancel-circle.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** checkmark Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Checkmark</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/checkmark.png"></td>
  <td><img src="./icon_images/blue_icons/32/checkmark.png"></td> 
  <td><img src="./icon_images/blue_icons/24/checkmark.png"></td>
  <td><img src="./icon_images/blue_icons/16/checkmark.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/checkmark.png"></td>
  <td><img src="./icon_images/white_icons/32/checkmark.png"></td> 
  <td><img src="./icon_images/white_icons/24/checkmark.png"></td>
  <td><img src="./icon_images/white_icons/16/checkmark.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** checkmark2 Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Checkmark2</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/checkmark2.png"></td>
  <td><img src="./icon_images/blue_icons/32/checkmark2.png"></td> 
  <td><img src="./icon_images/blue_icons/24/checkmark2.png"></td>
  <td><img src="./icon_images/blue_icons/16/checkmark2.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/checkmark2.png"></td>
  <td><img src="./icon_images/white_icons/32/checkmark2.png"></td> 
  <td><img src="./icon_images/white_icons/24/checkmark2.png"></td>
  <td><img src="./icon_images/white_icons/16/checkmark2.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** cog Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Cog</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/cog.png"></td>
  <td><img src="./icon_images/blue_icons/32/cog.png"></td> 
  <td><img src="./icon_images/blue_icons/24/cog.png"></td>
  <td><img src="./icon_images/blue_icons/16/cog.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/cog.png"></td>
  <td><img src="./icon_images/white_icons/32/cog.png"></td> 
  <td><img src="./icon_images/white_icons/24/cog.png"></td>
  <td><img src="./icon_images/white_icons/16/cog.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** copy Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Copy</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/copy.png"></td>
  <td><img src="./icon_images/blue_icons/32/copy.png"></td> 
  <td><img src="./icon_images/blue_icons/24/copy.png"></td>
  <td><img src="./icon_images/blue_icons/16/copy.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/copy.png"></td>
  <td><img src="./icon_images/white_icons/32/copy.png"></td> 
  <td><img src="./icon_images/white_icons/24/copy.png"></td>
  <td><img src="./icon_images/white_icons/16/copy.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** disk Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Disk</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/disk.png"></td>
  <td><img src="./icon_images/blue_icons/32/disk.png"></td> 
  <td><img src="./icon_images/blue_icons/24/disk.png"></td>
  <td><img src="./icon_images/blue_icons/16/disk.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/disk.png"></td>
  <td><img src="./icon_images/white_icons/32/disk.png"></td> 
  <td><img src="./icon_images/white_icons/24/disk.png"></td>
  <td><img src="./icon_images/white_icons/16/disk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** download Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Download</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/download.png"></td>
  <td><img src="./icon_images/blue_icons/32/download.png"></td> 
  <td><img src="./icon_images/blue_icons/24/download.png"></td>
  <td><img src="./icon_images/blue_icons/16/download.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/download.png"></td>
  <td><img src="./icon_images/white_icons/32/download.png"></td> 
  <td><img src="./icon_images/white_icons/24/download.png"></td>
  <td><img src="./icon_images/white_icons/16/download.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** file Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>File</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/file.png"></td>
  <td><img src="./icon_images/blue_icons/32/file.png"></td> 
  <td><img src="./icon_images/blue_icons/24/file.png"></td>
  <td><img src="./icon_images/blue_icons/16/file.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/file.png"></td>
  <td><img src="./icon_images/white_icons/32/file.png"></td> 
  <td><img src="./icon_images/white_icons/24/file.png"></td>
  <td><img src="./icon_images/white_icons/16/file.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** help Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Help</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/help.png"></td>
  <td><img src="./icon_images/blue_icons/32/help.png"></td> 
  <td><img src="./icon_images/blue_icons/24/help.png"></td>
  <td><img src="./icon_images/blue_icons/16/help.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/help.png"></td>
  <td><img src="./icon_images/white_icons/32/help.png"></td> 
  <td><img src="./icon_images/white_icons/24/help.png"></td>
  <td><img src="./icon_images/white_icons/16/help.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** house Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Home</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/house.png"></td>
  <td><img src="./icon_images/blue_icons/32/house.png"></td> 
  <td><img src="./icon_images/blue_icons/24/house.png"></td>
  <td><img src="./icon_images/blue_icons/16/house.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/house.png"></td>
  <td><img src="./icon_images/white_icons/32/house.png"></td> 
  <td><img src="./icon_images/white_icons/24/house.png"></td>
  <td><img src="./icon_images/white_icons/16/house.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** file Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>File</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/file.png"></td>
  <td><img src="./icon_images/blue_icons/32/file.png"></td> 
  <td><img src="./icon_images/blue_icons/24/file.png"></td>
  <td><img src="./icon_images/blue_icons/16/file.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/file.png"></td>
  <td><img src="./icon_images/white_icons/32/file.png"></td> 
  <td><img src="./icon_images/white_icons/24/file.png"></td>
  <td><img src="./icon_images/white_icons/16/file.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** Info Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Info</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/info.png"></td>
  <td><img src="./icon_images/blue_icons/32/info.png"></td> 
  <td><img src="./icon_images/blue_icons/24/info.png"></td>
  <td><img src="./icon_images/blue_icons/16/info.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/info.png"></td>
  <td><img src="./icon_images/white_icons/32/info.png"></td> 
  <td><img src="./icon_images/white_icons/24/info.png"></td>
  <td><img src="./icon_images/white_icons/16/info.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** minus-solid Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Minus-solid </h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/minus-solid.png"></td>
  <td><img src="./icon_images/blue_icons/32/minus-solid.png"></td> 
  <td><img src="./icon_images/blue_icons/24/minus-solid.png"></td>
  <td><img src="./icon_images/blue_icons/16/minus-solid.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/minus-solid.png"></td>
  <td><img src="./icon_images/white_icons/32/minus-solid.png"></td> 
  <td><img src="./icon_images/white_icons/24/minus-solid.png"></td>
  <td><img src="./icon_images/white_icons/16/minus-solid.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** minus Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Minus</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/minus.png"></td>
  <td><img src="./icon_images/blue_icons/32/minus.png"></td> 
  <td><img src="./icon_images/blue_icons/24/minus.png"></td>
  <td><img src="./icon_images/blue_icons/16/minus.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/minus.png"></td>
  <td><img src="./icon_images/white_icons/32/minus.png"></td> 
  <td><img src="./icon_images/white_icons/24/minus.png"></td>
  <td><img src="./icon_images/white_icons/16/minus.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** pencil Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Pencil</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/pencil.png"></td>
  <td><img src="./icon_images/blue_icons/32/pencil.png"></td> 
  <td><img src="./icon_images/blue_icons/24/pencil.png"></td>
  <td><img src="./icon_images/blue_icons/16/pencil.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/pencil.png"></td>
  <td><img src="./icon_images/white_icons/32/pencil.png"></td> 
  <td><img src="./icon_images/white_icons/24/pencil.png"></td>
  <td><img src="./icon_images/white_icons/16/pencil.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** pie Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Pie</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/pie.png"></td>
  <td><img src="./icon_images/blue_icons/32/pie.png"></td> 
  <td><img src="./icon_images/blue_icons/24/pie.png"></td>
  <td><img src="./icon_images/blue_icons/16/pie.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/pie.png"></td>
  <td><img src="./icon_images/white_icons/32/pie.png"></td> 
  <td><img src="./icon_images/white_icons/24/pie.png"></td>
  <td><img src="./icon_images/white_icons/16/pie.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>

<!---***************** pie2 Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Pie2</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/pie2.png"></td>
  <td><img src="./icon_images/blue_icons/32/pie2.png"></td> 
  <td><img src="./icon_images/blue_icons/24/pie2.png"></td>
  <td><img src="./icon_images/blue_icons/16/pie2.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/pie2.png"></td>
  <td><img src="./icon_images/white_icons/32/pie2.png"></td> 
  <td><img src="./icon_images/white_icons/24/pie2.png"></td>
  <td><img src="./icon_images/white_icons/16/pie2.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** play Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Play</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/play.png"></td>
  <td><img src="./icon_images/blue_icons/32/play.png"></td> 
  <td><img src="./icon_images/blue_icons/24/play.png"></td>
  <td><img src="./icon_images/blue_icons/16/play.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/play.png"></td>
  <td><img src="./icon_images/white_icons/32/play.png"></td> 
  <td><img src="./icon_images/white_icons/24/play.png"></td>
  <td><img src="./icon_images/white_icons/16/play.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** plus-solid Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Plus-solid</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/plus-solid.png"></td>
  <td><img src="./icon_images/blue_icons/32/plus-solid.png"></td> 
  <td><img src="./icon_images/blue_icons/24/plus-solid.png"></td>
  <td><img src="./icon_images/blue_icons/16/plus-solid.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/plus-solid.png"></td>
  <td><img src="./icon_images/white_icons/32/plus-solid.png"></td> 
  <td><img src="./icon_images/white_icons/24/plus-solid.png"></td>
  <td><img src="./icon_images/white_icons/16/plus-solid.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>

<!---***************** plus Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Plus</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/plus.png"></td>
  <td><img src="./icon_images/blue_icons/32/plus.png"></td> 
  <td><img src="./icon_images/blue_icons/24/plus.png"></td>
  <td><img src="./icon_images/blue_icons/16/plus.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/plus.png"></td>
  <td><img src="./icon_images/white_icons/32/plus.png"></td> 
  <td><img src="./icon_images/white_icons/24/plus.png"></td>
  <td><img src="./icon_images/white_icons/16/plus.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** reload Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Reload</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/reload.png"></td>
  <td><img src="./icon_images/blue_icons/32/reload.png"></td> 
  <td><img src="./icon_images/blue_icons/24/reload.png"></td>
  <td><img src="./icon_images/blue_icons/16/reload.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/reload.png"></td>
  <td><img src="./icon_images/white_icons/32/reload.png"></td> 
  <td><img src="./icon_images/white_icons/24/reload.png"></td>
  <td><img src="./icon_images/white_icons/16/reload.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** remove Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Remove</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/remove.png"></td>
  <td><img src="./icon_images/blue_icons/32/remove.png"></td> 
  <td><img src="./icon_images/blue_icons/24/remove.png"></td>
  <td><img src="./icon_images/blue_icons/16/remove.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/remove.png"></td>
  <td><img src="./icon_images/white_icons/32/remove.png"></td> 
  <td><img src="./icon_images/white_icons/24/remove.png"></td>
  <td><img src="./icon_images/white_icons/16/remove.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** spam Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Spam</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/spam.png"></td>
  <td><img src="./icon_images/blue_icons/32/spam.png"></td> 
  <td><img src="./icon_images/blue_icons/24/spam.png"></td>
  <td><img src="./icon_images/blue_icons/16/spam.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/spam.png"></td>
  <td><img src="./icon_images/white_icons/32/spam.png"></td> 
  <td><img src="./icon_images/white_icons/24/spam.png"></td>
  <td><img src="./icon_images/white_icons/16/spam.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** suitcase Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Suitcase</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/suitcase.png"></td>
  <td><img src="./icon_images/blue_icons/32/suitcase.png"></td> 
  <td><img src="./icon_images/blue_icons/24/suitcase.png"></td>
  <td><img src="./icon_images/blue_icons/16/suitcase.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/suitcase.png"></td>
  <td><img src="./icon_images/white_icons/32/suitcase.png"></td> 
  <td><img src="./icon_images/white_icons/24/suitcase.png"></td>
  <td><img src="./icon_images/white_icons/16/suitcase.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** table Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Table</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/table.png"></td>
  <td><img src="./icon_images/blue_icons/32/table.png"></td> 
  <td><img src="./icon_images/blue_icons/24/table.png"></td>
  <td><img src="./icon_images/blue_icons/16/table.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/table.png"></td>
  <td><img src="./icon_images/white_icons/32/table.png"></td> 
  <td><img src="./icon_images/white_icons/24/table.png"></td>
  <td><img src="./icon_images/white_icons/16/table.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** triangle-down Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Triangle Down</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/triangle-down.png"></td>
  <td><img src="./icon_images/blue_icons/32/triangle-down.png"></td> 
  <td><img src="./icon_images/blue_icons/24/triangle-down.png"></td>
  <td><img src="./icon_images/blue_icons/16/triangle-down.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/triangle-down.png"></td>
  <td><img src="./icon_images/white_icons/32/triangle-down.png"></td> 
  <td><img src="./icon_images/white_icons/24/triangle-down.png"></td>
  <td><img src="./icon_images/white_icons/16/triangle-down.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** triangle-up Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Triangle Up</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/triangle-up.png"></td>
  <td><img src="./icon_images/blue_icons/32/triangle-up.png"></td> 
  <td><img src="./icon_images/blue_icons/24/triangle-up.png"></td>
  <td><img src="./icon_images/blue_icons/16/triangle-up.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/triangle-up.png"></td>
  <td><img src="./icon_images/white_icons/32/triangle-up.png"></td> 
  <td><img src="./icon_images/white_icons/24/triangle-up.png"></td>
  <td><img src="./icon_images/white_icons/16/triangle-up.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** warning Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Warning</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/warning.png"></td>
  <td><img src="./icon_images/blue_icons/32/warning.png"></td> 
  <td><img src="./icon_images/blue_icons/24/warning.png"></td>
  <td><img src="./icon_images/blue_icons/16/warning.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/warning.png"></td>
  <td><img src="./icon_images/white_icons/32/warning.png"></td> 
  <td><img src="./icon_images/white_icons/24/warning.png"></td>
  <td><img src="./icon_images/white_icons/16/warning.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>

<br><br><br>

   <section class="mtm clearfix" id="glyphs">
       
  <span class="box1">
    <span aria-hidden="true" class="icon-untitled"></span>
    &nbsp;icon-untitled
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-add_securities"></span>
    &nbsp;icon-add_securities
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-sp_full"></span>
    &nbsp;icon-sp_full
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-transfer"></span>
    &nbsp;icon-transfer
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-scales"></span>
    &nbsp;icon-scales
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-pie_chart"></span>
    &nbsp;icon-pie_chart
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-minus"></span>
    &nbsp;icon-minus
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-plus"></span>
    &nbsp;icon-plus
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-button_arrow_back"></span>
    &nbsp;icon-button_arrow_back
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-button_forward_arrow"></span>
    &nbsp;icon-button_forward_arrow
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-down_triangle"></span>
    &nbsp;icon-down_triangle
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-download_arrow"></span>
    &nbsp;icon-download_arrow
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-Delete"></span>
    &nbsp;icon-Delete
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-account-settings-dark"></span>
    &nbsp;icon-account-settings-dark
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-Refresh"></span>
    &nbsp;icon-Refresh
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-arrow-up"></span>
    &nbsp;icon-arrow-up
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-arrow-down"></span>
    &nbsp;icon-arrow-down
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-checkmark"></span>
    &nbsp;icon-checkmark
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-checkmark-2"></span>
    &nbsp;icon-checkmark-2
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-home"></span>
    &nbsp;icon-home
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-table"></span>
    &nbsp;icon-table
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-chart"></span>
    &nbsp;icon-chart
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-remove"></span>
    &nbsp;icon-remove
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-briefcase"></span>
    &nbsp;icon-briefcase
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-pencil"></span>
    &nbsp;icon-pencil

  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-disk"></span>
    &nbsp;icon-disk
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-download"></span>
    &nbsp;icon-download
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-outline_plus"></span>
    &nbsp;icon-outline_plus
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-solid_plus"></span>
    &nbsp;icon-solid_plus
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-chart-2"></span>
    &nbsp;icon-chart-2
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-spam"></span>
    &nbsp;icon-spam
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-info"></span>
    &nbsp;icon-info
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-play"></span>
    &nbsp;icon-play
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-play-2"></span>
    &nbsp;icon-play-2
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-excel_icon"></span>
    &nbsp;icon-excel_icon
  </span>
  </section>
  </div>

</div>