<div class="section">
    <h1>Icons</h1>
    <p>Icons in different sizes and colors. Right click the icon you want to use and save it</p>
</div><!-- /section-->

  
<h3></h3>


<!---***************** add list Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Add List</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/addList_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/addList_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/addList_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/addList_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/addList_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/addList_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/addList_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/addList_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/addList_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/addList_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/addList_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/addList_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** arrow-down Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Arrow Down</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/arrow-down_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/arrow-down_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/arrow-down_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/arrow-down_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/arrow-down_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/arrow-down_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/arrow-down_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/arrow-down_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/arrow-down_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/arrow-down_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/arrow-down_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/arrow-down_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** arrow-down2 Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Arrow Down2</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/arrow-down2_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/arrow-down2_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/arrow-down2_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/arrow-down2_16blue.png"></td>
</tr>

<tr class="white">
  <td><img src="./icon_images/white_icons/64/arrow-down2_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/arrow-down2_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/arrow-down2_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/arrow-down2_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/arrow-down2_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/arrow-down2_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/arrow-down2_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/arrow-down2_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** arrow-up Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Arrow Up</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/arrow-up_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/arrow-up_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/arrow-up_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/arrow-up_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/arrow-up_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/arrow-up_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/arrow-up_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/arrow-up_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/arrow-up_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/arrow-up_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/arrow-up_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/arrow-up_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** bars Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Bars</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/bars_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/bars_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/bars_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/bars_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/bars_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/bars_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/bars_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/bars_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/bars_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/bars_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/bars_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/bars_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** calender Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Calendar</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/calendar_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/calendar_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/calendar_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/calendar_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/calendar_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/calendar_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/calendar_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/calendar_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/calendar_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/calendar_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/calendar_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/calendar_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** cancel-circle Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Cancel Circle</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/cancel-circle_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/cancel-circle_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/cancel-circle_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/cancel-circle_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/cancel-circle_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/cancel-circle_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/cancel-circle_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/cancel-circle_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/cancel-circle_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/cancel-circle_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/cancel-circle_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/cancel-circle_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** checkmark Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Checkmark</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/checkmark_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/checkmark_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/checkmark_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/checkmark_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/checkmark_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/checkmark_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/checkmark_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/checkmark_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/checkmark_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/checkmark_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/checkmark_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/checkmark_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** checkmark2 Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Checkmark2</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/checkmark2_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/checkmark2_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/checkmark2_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/checkmark2_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/checkmark2_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/checkmark2_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/checkmark2_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/checkmark2_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/checkmark2_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/checkmark2_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/checkmark2_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/checkmark2_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** cog Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Cog</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/cog_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/cog_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/cog_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/cog_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/cog_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/cog_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/cog_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/cog_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/cog_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/cog_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/cog_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/cog_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** copy Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Copy</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/copy_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/copy_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/copy_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/copy_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/copy_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/copy_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/copy_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/copy_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/copy_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/copy_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/copy_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/copy_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** disk Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Disk</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/disk_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/disk_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/disk_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/disk_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/disk_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/disk_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/disk_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/disk_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/disk_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/disk_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/disk_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/disk_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** download Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Download</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/download_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/download_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/download_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/download_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/download_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/download_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/download_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/download_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/download_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/download_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/download_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/download_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>





<!---***************** excel Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Excel</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/excel_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/excel_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/excel_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/excel_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/excel_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/excel_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/excel_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/excel_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/excel_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/excel_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/excel_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/excel_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** file Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>File</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/file_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/file_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/file_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/file_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/file_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/file_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/file_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/file_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/file_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/file_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/file_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/file_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** help Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Help</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/help_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/help_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/help_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/help_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/help_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/help_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/help_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/help_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/help_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/help_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/help_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/help_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** house Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Home</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/house_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/house_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/house_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/house_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/house_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/house_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/house_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/house_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/house_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/house_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/house_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/house_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** file Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>File</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/file_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/file_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/file_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/file_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/file_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/file_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/file_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/file_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/file_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/file_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/file_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/file_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** Info Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Info</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/info_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/info_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/info_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/info_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/info_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/info_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/info_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/info_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/info_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/info_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/info_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/info_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** migrate Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Migrate</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/migrate_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/migrate_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/migrate_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/migrate_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/migrate_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/migrate_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/migrate_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/migrate_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/migrate_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/migrate_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/migrate_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/migrate_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** minus-solid Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Minus-solid </h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/minus-solid_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/minus-solid_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/minus-solid_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/minus-solid_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/minus-solid_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/minus-solid_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/minus-solid_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/minus-solid_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/minus-solid_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/minus-solid_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/minus-solid_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/minus-solid_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** minus Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Minus</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/minus_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/minus_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/minus_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/minus_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/minus_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/minus_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/minus_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/minus_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/minus_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/minus_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/minus_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/minus_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** pencil Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Pencil</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/pencil_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/pencil_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/pencil_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/pencil_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/pencil_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/pencil_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/pencil_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/pencil_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/pencil_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/pencil_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/pencil_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/pencil_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** pie Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Pie</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/pie_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/pie_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/pie_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/pie_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/pie_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/pie_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/pie_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/pie_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/pie_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/pie_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/pie_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/pie_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>

<!---***************** pie2 Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Pie2</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/pie2_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/pie2_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/pie2_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/pie2_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/pie2_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/pie2_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/pie2_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/pie2_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/pie2_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/pie2_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/pie2_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/pie2_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** play Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Play</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/play_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/play_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/play_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/play_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/play_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/play_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/play_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/play_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/play_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/play_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/play_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/play_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** plus-solid Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Plus-solid</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/plus-solid_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/plus-solid_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/plus-solid_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/plus-solid_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/plus-solid_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/plus-solid_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/plus-solid_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/plus-solid_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/plus-solid_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/plus-solid_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/plus-solid_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/plus-solid_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>

<!---***************** plus Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Plus</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/plus_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/plus_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/plus_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/plus_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/plus_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/plus_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/plus_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/plus_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/plus_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/plus_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/plus_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/plus_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** reload Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Reload</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/reload_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/reload_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/reload_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/reload_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/reload_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/reload_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/reload_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/reload_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/reload_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/reload_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/reload_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/reload_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** remove Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Remove</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/remove_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/remove_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/remove_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/remove_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/remove_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/remove_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/remove_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/remove_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/remove_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/remove_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/remove_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/remove_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** spam Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Spam</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/spam_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/spam_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/spam_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/spam_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/spam_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/spam_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/spam_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/spam_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/spam_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/spam_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/spam_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/spam_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** suitcase Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Suitcase</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/suitcase_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/suitcase_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/suitcase_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/suitcase_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/suitcase_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/suitcase_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/suitcase_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/suitcase_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/suitcase_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/suitcase_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/suitcase_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/suitcase_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>



<!---***************** table Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Table</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/table_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/table_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/table_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/table_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/table_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/table_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/table_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/table_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/table_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/table_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/table_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/table_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** triangle-down Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Triangle Down</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/triangle-down_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/triangle-down_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/triangle-down_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/triangle-down_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/triangle-down_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/triangle-down_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/triangle-down_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/triangle-down_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/triangle-down_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/triangle-down_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/triangle-down_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/triangle-down_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** triangle-up Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Triangle Up</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/triangle-up_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/triangle-up_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/triangle-up_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/triangle-up_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/triangle-up_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/triangle-up_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/triangle-up_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/triangle-up_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/triangle-up_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/triangle-up_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/triangle-up_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/triangle-up_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** triangle-left Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Triangle left</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/triangle-left_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/triangle-left_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/triangle-left_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/triangle-left_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/triangle-left_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/triangle-left_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/triangle-left_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/triangle-left_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/triangle-left_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/triangle-left_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/triangle-left_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/triangle-left_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** triangle-right Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Triangle Right</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/triangle-right_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/triangle-right_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/triangle-right_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/triangle-right_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/triangle-right_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/triangle-right_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/triangle-right_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/triangle-right_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/triangle-right_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/triangle-right_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/triangle-right_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/triangle-right_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** warning Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>Warning</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/warning_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/warning_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/warning_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/warning_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/warning_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/warning_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/warning_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/warning_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/warning_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/warning_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/warning_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/warning_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>


<!---***************** p_icon Table ******************-->
<table border="1">
<tr>
  <th colspan="4"><h3>The P Icon</h3></th>
</tr>
<tr>
  <td><img src="./icon_images/blue_icons/64/p_icon_64blue.png"></td>
  <td><img src="./icon_images/blue_icons/32/p_icon_32blue.png"></td> 
  <td><img src="./icon_images/blue_icons/24/p_icon_24blue.png"></td>
  <td><img src="./icon_images/blue_icons/16/p_icon_16blue.png"></td>
</tr>
<tr class="white">
  <td><img src="./icon_images/white_icons/64/p_icon_64white.png"></td>
  <td><img src="./icon_images/white_icons/32/p_icon_32white.png"></td> 
  <td><img src="./icon_images/white_icons/24/p_icon_24white.png"></td>
  <td><img src="./icon_images/white_icons/16/p_icon_16white.png"></td>
</tr>
<tr>
  <td><img src="./icon_images/blk_icons/64/p_icon_64blk.png"></td>
  <td><img src="./icon_images/blk_icons/32/p_icon_32blk.png"></td> 
  <td><img src="./icon_images/blk_icons/24/p_icon_24blk.png"></td>
  <td><img src="./icon_images/blk_icons/16/p_icon_16blk.png"></td>
</tr>
<tr>
  <td>64 x 64</td>
  <td>32 x 32</td> 
  <td>24 x 24</td>
  <td>16 x 16</td>
</tr>
</table>

