
<div class="row"> 
    <h1>Icons</h1>
  <p>Font Face icons and its classes</p>
  <p>To add an icon insert the icon class name into a &lt;span&gt; with a class="iconname" </p>
  <div class="row">
   <section class="mtm clearfix" id="glyphs">
       
  <span class="box1">
    <span aria-hidden="true" class="icon-untitled"></span>
    &nbsp;icon-untitled
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-add_securities"></span>
    &nbsp;icon-add_securities
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-sp_full"></span>
    &nbsp;icon-sp_full
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-transfer"></span>
    &nbsp;icon-transfer
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-scales"></span>
    &nbsp;icon-scales
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-pie_chart"></span>
    &nbsp;icon-pie_chart
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-minus"></span>
    &nbsp;icon-minus
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-plus"></span>
    &nbsp;icon-plus
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-Back"></span>
    &nbsp;icon-Back
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-Next"></span>
    &nbsp;icon-Next
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-down_triangle"></span>
    &nbsp;icon-down_triangle
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-download_arrow"></span>
    &nbsp;icon-download_arrow
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-Delete"></span>
    &nbsp;icon-Delete
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-account-settings-dark"></span>
    &nbsp;icon-account-settings-dark
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-Refresh"></span>
    &nbsp;icon-Refresh
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-arrow-up"></span>
    &nbsp;icon-arrow-up
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-arrow-down"></span>
    &nbsp;icon-arrow-down
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-checkmark"></span>
    &nbsp;icon-checkmark
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-checkmark-2"></span>
    &nbsp;icon-checkmark-2
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-home"></span>
    &nbsp;icon-home
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-table"></span>
    &nbsp;icon-table
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-chart"></span>
    &nbsp;icon-chart
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-remove"></span>
    &nbsp;icon-remove
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-briefcase"></span>
    &nbsp;icon-briefcase
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-pencil"></span>
    &nbsp;icon-pencil

  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-disk"></span>
    &nbsp;icon-disk
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-download"></span>
    &nbsp;icon-download
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-outline_plus"></span>
    &nbsp;icon-outline_plus
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-solid_plus"></span>
    &nbsp;icon-solid_plus
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-chart-2"></span>
    &nbsp;icon-chart-2
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-spam"></span>
    &nbsp;icon-spam
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-info"></span>
    &nbsp;icon-info
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-play"></span>
    &nbsp;icon-play
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-play-2"></span>
    &nbsp;icon-play-2
  </span>
  <span class="box1">
    <span aria-hidden="true" class="icon-excel_icon"></span>
    &nbsp;icon-excel_icon
  </span>
  </section>
  </div>

</div>