
<div class="row"> 
<h1>UX UI Sandbox</h1>   
<br>
<p>

Welcome to the User Expereince UI Sandbox! This is a place for the UX team, and developer, to grab and drop UI code, images, and reference information when creating their application. Please click on a catagory to see the different works. </p>

<!-- <ul>
  <li class="indexButtton"><a href="colorpalette.php">Color palette</a></li>
  <li class="indexButtton"><a href="typography.php">Typography</a></li>
  <li class="indexButtton"><a href="headers.php">Headers</a></li>
  <li class="indexButtton"><a href="footers.php">Footers</a></li>
  <li class="indexButtton"><a href="tables.php">Tables</a></li>
  <li class="indexButtton"><a href="filters.php">Filters</a></li>
  <li class="indexButtton"><a href="megamenus.php">Megamenus</a></li>
  <li class="indexButtton"><a href="containers.php">Containers</a></li>
  <li class="indexButtton"><a href="buttons.php">Buttons</a></li>
  <li class="indexButtton"><a href="icons.php">Icons</a></li>
</ul> -->

</div>