
<div class="row"> 
	<style>
		h1{
			font-size: 40px;
		}
	</style>
<center><h1>Consult Works Sandbox</h1></center>
<br>
  <p>
  	Welcome to the Consult Works Sandbox. Here we have common elements, collections, modules and more, that are used accross the Consult Works applications.
  </p>
  <p>
  	Our goal was to create a place where designers and devlopers can go to for their application creation without take styles from an old application and recustomizing it all over again. 
  </p>

  <p>This is a place where the User Experience Team, and Developers can reference these common components and share UI for designing their application.</p>

  <p>Click on any of the sub catagories on the left hand side to see more!</p>
</div>