 <div class="row">
        
        <h3>Megamenu</h3>
        <p>Appears on hover of the "Add Investment" button on the dashlet</p>
      
        <ul id="megamenu">

            <li>
                <h3 class="boldgreen"> MY INVESTMENT IDEAS</h3>
                <p>Your Saved Securities &amp; Strategies</p>
                  
                <ul class="mmtab" id="tab1-detail">
                    <li>
                        <a href="#" class="button icon mm addsec"><span>My Saved Securities &amp; Strategies</span></a>
                        <br>
                        <br>
                        <br>
                        <p>Select from your list of <span class="boldgreen">Securities and Strategies</span> or a <span class="boldgreen">Model of Weighted Secutities</span> that you have saved in the past. Strategies that you are eligible for will also display.</p>
                        <br>
                        <br>
                        <hr>
                        <br>
                        <br>
                        <a href="#" class="button icon mm"><span class="icon-excel_icon excel"></span>Import Excel List</a>
                        <br>
                        <br>
                        <br>
                        <p><span class="boldgreen">Import</span> your existing <span class="boldgreen">Excel list of Securities</span></p>
                        <br>
                        <br>
                        <hr>
                        <br>
                        <br>
                        <p><span class="icon-download_arrow" style="color:#387112; font-size:16px; vertical-align: text-top;"></span> Start from a <span class="boldgreen">list template</span></p>
                    </li>
                </ul>
                
                <hr>
            </li>
            
            <li>
                <h3 class="boldbrown">UBS RESEARCH IDEAS</h3>
                <p>Firm Lists, Dividend Ruler</p>
                
                <ul class="mmtab" id="tab2-detail">
                    <li>
                        
                        <div class="column1">
                            <h3 class="boldbrown">Screens for Securities</h3>
                            <ul>
                                <li><a href="#">Equity Focus List</a></li>
                                <li><a href="#">Dividend Ruler Stocks</a></li>
                                <li><a href="#">The World According to Q-GARP</a></li>
                                <li><a href="#">SMA Select List</a></li>
                                <li><a href="#">Mutual Fund Select List</a></li>
                            </ul>
                            <br>
                            <p>
                                Access our screening tools that will
                                allow you to define a set of criteria
                                for <span class="boldbrown">UBS Research Ideas</span>
                                and select individual securities.
                            </p>
                        </div>
                        
                        <div class="column2">
                            <h3 class="boldbrown">Purpose as a Strategy</h3>
                            <ul>
                                <li><a href="#">Equity Focus Strategy</a></li>
                                <li><a href="#">Dividend Ruler Model</a></li>
                                <li><a href="#">Q-GARP</a></li>
                            </ul>
                        </div>
                        
                    </li>
                </ul>
                
                <hr>
            </li>
            
            <li>
                <h4 class="mmboldblue">INVESTMENT SCREENERS FOR ADVISORY PRODUCTS</h4>
                <p>Filter for Securities &amp; Strategies eligible for fee-based accounts</p>
                
                <ul class="mmtab" id="tab3-detail">
                    <li>
                          <div class="column1">
                            <h3 class="advprod">FA Guided</h3>
                            <p>ACCESS</p>
                            <ul>
                                <li><a href="#">Investment Managers</a></li>
                            </ul>
                            <p>MAC Researched</p>
                            <ul>
                                <li><a href="#">Investment Managers</a></li>
                            </ul>
                            <p>PACE Multi</p>
                            <ul>
                                <li><a href="#">Mutual Funds</a></li>
                            </ul>
                            <p>PACE Select</p>
                            <ul>
                                <li><a href="#">Strategies</a></li>
                            </ul>
                            <p>Private Wealth Solutions (PWS)</p>
                            <ul>
                                <li><a href="#">Strategies</a></li>
                            </ul>
                            <p>Strategic Advisor</p>
                            <ul>
                                <li><a href="#">Alternative Investments</a></li>
                                <li><a href="#">Closed Ended Funds</a></li>
                                <li><a href="#">Equity</a></li>
                                <li><a href="#">Exchange Traded Products (ETP)</a></li>
                                <li><a href="#">Fixed Income</a></li>
                                <li><a href="#">Mutual Funds</a></li>
                                <li><a href="#">Unit Investment Trusts (UIT)</a></li>
                            </ul>
                            
                            
                          </div>
                          <div class="column2">
                            <p>Strategic Wealth Portfolio (SWP)</p>
                            <ul>
                                <li><a href="#">Exchange Traded Products (ETP)</a></li>
                                <li><a href="#">Investment Managers</a></li>
                                <li><a href="#">Mutual Funds</a></li>
                            </ul>
                            <h3 class="advprod">FA Discretionary</h3>
                            <p>Portfolio Management Program (PMP)</p>
                            <ul>
                                <li><a href="#">Strategies</a></li>
                            </ul>
                            <h3 class="advprod">UBS Managed Portfolios</h3>
                            <ul>
                                <li><a href="#">Strategies</a></li>
                                
                            </ul>
                          </div>
                    </li>
                </ul>
                
                <hr>
            </li>
            
            <li>
                <h4 class="mmboldblue">INVESTMENT SCREENERS FOR TRANSACTION PRODUCTS</h4>
                <p>Filter for Securities eligible for Commision-based Accounts</p>
                
                <ul class="mmtab" id="tab4-detail">
                    <li>
                          <h3 class="transprod">Investment Screeners for Transaction Products</h3>
                          <ul>
                            <li><a href="#">Equity</a></li>
                            <li><a href="#">ETFs</a></li>
                            <li><a href="#">Closed Ended Funds</a></li>
                            <li><a href="#">Unit Investment Trusts (UIT)</a></li>
                            <li><a href="#">Mutual Funds</a></li>
                            <li><a href="#">Non-Traditional (AI)</a></li>
                            <li><a href="#">Investment Managers</a></li>
                          </ul>
                    </li>
                </ul>
                
            </li>
            <div class="quickadd">
                <h4>ADD by ticker, CUSIP, FOA</h4>
                     <input type="text" placeholder=" Ticker/CUSIP/FOA"/><a class="button secondary small addbtn"><span class="icon-solid_plus"></span><span>Add</span></a>
            </div>
        </ul>
        
            
    </div>