<ul class="sidebar">
    <ul>
      <li><a href="colorpalette.php">Color palette</a></li>
      <li><a href="typography.php">Typography</a></li>
    </ul>
      <li><h4>Collections</h4></li>
        <ul>
              <li><a href="headers.php">Headers</a></li>
              <li><a href="footers.php">Footers</a></li>
              <li><a href="tables.php">Tables</a></li>
              <li><a href="filters.php">Filters</a></li>
              <li><a href="megamenus.php">Megamenus</a></li>
              <li><a href="containers.php">Containers</a></li>
        </ul>
      <li><h4>Elements</h4></li>
        <ul>  
              <li><a href="buttons.php">Buttons</a></li>
              <li><a href="icons.php">Icons</a></li>
        </ul>
      <li><h4>Grids</h4></li>
        <ul>  
              <li><a href="#fui-pagination">Pagination</a></li>
        </ul>
</ul> <!-- /nav -->