<ul class="sidebar">
    <ul>
        <li><a href="colorpallet.php">Color Pallet</a></li>
        <li><a href="tables.php">Typeography</a></li>
    </ul>
      <li><h4>Collections</h4></li>
    <ul>
          <li><a href="tables.php">Tables</a></li>
    </ul>
      <li><h4>Elements</h4></li>
    <ul>  
          <li><a href="buttons.php">Buttons</a></li>
          <li><a href="icons.php">Icons</a></li>
          <li><a href="#fui-selectbox">Select Box</a></li>
        <!--These are li's that came with flat-ui / keeping for now 
          <li><a href="#fui-checkbox">Checkboxes</a></li>
          <li><a href="#fui-radio">Radio buttons</a></li>
          <li><a href="#fui-dropdown">Dropdown</a></li>
          <li><a href="#fui-input">Input</a></li>
          <li><a href="#fui-navbar">Navbar</a></li>
          <li><a href="#fui-pager">Pager</a></li>
        -->
    </ul>
      <li><h4>Grids</h4></li>
    <ul>  
          <li><a href="#fui-pagination">Pagination</a></li>
    </ul>
</ul> <!-- /nav -->