<div class="module">

<h3>Primary Button</h3>  
    <p>
      <strong>Primary</strong> buttons are the most used action buttons. They correspond to primary action of workflow. Usually there are only one Primary button in a workflow. Use class &quot;small&quot; for smaller buttons.
    </p>
          
 

<!-- *********************************************************
                       Primary Button
***********************************************************-->
          <p>
            <div class="buttons">
            <a class="button" href="#"><span>Primary Button</span></a>
            <a class="button small" href="#"><span>Primary Small</span></a>
          </div><!-- /div.buttons-->
          </p>
 

<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#primary-tab1">HTML</a></li>
        <li><a href="#primary-tab2">CSS</a></li>
    </ul>

<div class="tab-content">
    <div id="primary-tab1" class="tab active">
        <p>
            <pre class="language-markup">
                <code>
&lt;a class="button" href="#">
  &lt;span> Primary Button &lt;/span>
&lt;/a>
                </code>
            </pre>
        </p>
    </div>
 
    <div id="primary-tab2" class="tab">
        <p>
            <pre class="language-css">
                <code>
a.button {
  
  background-image: -moz-linear-gradient(top, #b3bfdb, #3c5da6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #b3bfdb),color-stop(1, #3c5da6));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b3bfdb', EndColorStr='#3c5da6');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#b3bfdb', EndColorStr='#3c5da6')";
  border: 1px solid #949494;
  
  padding: 4px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: block;
  float: left;

  text-shadow: rgba(0,0,0,.2) 0 1px 0;
  color: white;
  font-size: 12px;
  font-weight:bold;
  text-decoration: none;
  vertical-align: middle;
}

a.button:hover {
  border-color: #556896;
  background: #556896;
  color: #f0f0f0;
}

a.button:active {
  background: #21354f;
  margin-top: 1px;
}
                </code>
            </pre>
        </p>
    </div><!-- /tab-content-->

</div><!-- /tabs-->
 

<!-- ************************************************************************
                          Primary Button Disabled
**************************************************************************-->
              <p>
                <div class="buttons">
            <a class="button disabled" href="#"><span>Disabled Button</span></a>
            <!-- <a class="button small disabled" href="#"><span>Disabled Small</span></a> -->
            </div><!-- /div.buttons-->
          </p>

           

<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#primaryDisabled-tab1">HTML</a></li>
        <li><a href="#primaryDisabled-tab2">CSS</a></li>
    </ul>

<div class="tab-content">
    <div id="primaryDisabled-tab1" class="tab active">
        <p>
            <pre class="language-markup">
                <code>
&lt;a class="button disabled" href="#"&gt;
  &lt;span&gt;Disabled Button&lt;/span&gt;
&lt;/a&gt;
                </code>
            </pre>
        </p>
    </div>
 
    <div id="primaryDisabled-tab2" class="tab">
        <p>
            <pre class="language-css">
                <code>
                  /* Disabled button states */

a.button.disabled {
  background: #d4dae9 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d4dae9', endColorstr='#d4dae9')"; /* IE8 */
  text-shadow: none;
  color: #f8f8f8;
  border: none;
}

a.button.disabled:hover {
  cursor: default;
  border: none;
}

a.button.disabled:active {
  margin-top: 0px;
}
                </code>
            </pre>
        </p>
    </div>
 
    <div id="tab3" class="tab">
        <p>
            <pre class="language-js">
                <code>
                  <!--Javascript-->
                </code>
            </pre>
        </p>
    </div>

</div><!-- /tab-content-->

</div><!-- /tabs-->
 
 

<!-- *******************************************************
                Primary Forward Button with Icon Right
**********************************************************-->
              <p>
                <div class="buttons">
            <a class="button" href="#"><span>Forward Button</span><span class="icon-button_forward_arrow"></span></a>
            </div><!-- /div.buttons-->
          </p>


<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#PrimaryForwardButton-tab1">HTML</a></li>
        <li><a href="#PrimaryForwardButton-tab2">CSS</a></li>
    </ul>

<div class="tab-content">
    <div id="PrimaryForwardButton-tab1" class="tab active">
        <p>
            <pre class="language-markup">
                <code>
&lt;a class="button" href="#"&gt;
  &lt;span&gt;Forward Button&lt;/span&gt;
  &lt;span class="icon-button_forward_arrow"&gt; &lt;/span&gt;
&lt;/a&gt;
                </code>
            </pre>
        </p>
    </div>
 
    <div id="PrimaryForwardButton-tab2" class="tab">
        <p>
            <pre class="language-css">
                <code>
a.button {
  background-image: -moz-linear-gradient(top, #b3bfdb, #3c5da6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #b3bfdb),color-stop(1, #3c5da6));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b3bfdb', EndColorStr='#3c5da6');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#b3bfdb', EndColorStr='#3c5da6')";
  border: 1px solid #949494;
  
  padding: 4px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: block;
  float: left;

  text-shadow: rgba(0,0,0,.2) 0 1px 0;
  color: white;
  font-size: 12px;
  font-weight:bold;
  text-decoration: none;
  vertical-align: middle;
}

a.button:hover {
  border-color: #556896;
  background: #556896;
  color: #f0f0f0;
}

a.button:active {
  background: #21354f;
  margin-top: 1px;
}
                </code>
            </pre>
        </p>
    </div>

</div><!-- /tab-content-->

</div><!-- /tabs-->
 
 

<!-- *******************************************************
                Primary backward Button with Icon Left
**********************************************************-->
              <p>
                <div class="buttons">
            <a class="button" href="#"><span class="icon-button_arrow_back"></span><span>Backward Button</span></a>
        </div><!-- /div.buttons-->
          </p>


<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#PrimaryBackwardButton-tab1">HTML</a></li>
        <li><a href="#PrimaryBackwardButton-tab2">CSS</a></li>
    </ul>

<div class="tab-content">
    <div id="PrimaryBackwardButton-tab1" class="tab active">
        <p>
            <pre class="language-markup">
                <code>
&lt;a class="button" href="#"&gt;
&lt;span class="icon-button_arrow_back"&gt; &lt;/span&gt;
  &lt;span&gt;Backward Button&lt;/span&gt;
&lt;/a&gt;
                </code>
            </pre>
        </p>
    </div>
 
    <div id="PrimaryBackwardButton-tab2" class="tab">
        <p>
            <pre class="language-css">
                <code>
a.button {
  
  background-image: -moz-linear-gradient(top, #b3bfdb, #3c5da6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #b3bfdb),color-stop(1, #3c5da6));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b3bfdb', EndColorStr='#3c5da6');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#b3bfdb', EndColorStr='#3c5da6')";
  border: 1px solid #949494;
  
  padding: 4px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: block;
  float: left;

  text-shadow: rgba(0,0,0,.2) 0 1px 0;
  color: white;
  font-size: 12px;
  font-weight:bold;
  text-decoration: none;
  vertical-align: middle;
}

a.button:hover {
  border-color: #556896;
  background: #556896;
  color: #f0f0f0;
}

a.button:active {
  background: #21354f;
  margin-top: 1px;
}
                </code>
            </pre>
        </p>
    </div>
</div><!-- /tab-content-->

</div><!-- /tabs-->
 
 </div> <!--/module-->
 
