<!-- 
***************************************************
                  Toggle buttons
***************************************************
-->
<h2>Toggle Buttons</h2>
 <hr>
<br>


<!-- *******************  Chart toggle *********************-->
          <p>
            <p><strong>Chart Toggle</strong> appears at the Asset Allocation Sort Line.</p>
            <div class="charttoggle"><span class="label">View</span></div>
          </p>

<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#charttoggle-tab1">HTML</a></li>
        <li><a href="#charttoggle-tab2">CSS</a></li>
        <li><a href="#charttoggle-tab3">JavaScript</a></li>
    </ul>

    <div class="tab-content">
        <div id="charttoggle-tab1" class="tab active">
            <p>
                <pre class="language-markup">
                    <code>
&lt;div class="charttoggle"&gt;
  &lt;span class="label"&gt;
    View
  &lt;/span&gt;
&lt;/div&gt;
                    </code>
                </pre>
            </p>
        </div><!-- /tab1-->
     
        <div id="charttoggle-tab2" class="tab">
            <p>
                <pre class="language-css">
                    <code>

.charttoggle {
  height: 22px;
  width: 90px;
  cursor:pointer;
  background:url(../images/chart-view.png) no-repeat 28px 0;
  
}
.chart {
  background:url(../images/chart-view.png) no-repeat 28px -22px;
}
                    </code>
                </pre>
            </p>
        </div><!-- /tab2-->
     
        <div id="charttoggle-tab3" class="tab">
            <p>
                <pre class="language-javascript">
                    <code>
  // Toggle for Chart-table view
  $(".charttoggle").click(function(){
    $(this).toggleClass("chart"); return false;
  }); 
                    </code>
                </pre>
            </p>
        </div><!-- /tab3-->

    </div><!-- /tab-content-->

</div><!-- /tabs-->
<br>
<br>
<!-- *******************  Edit By Toggle *********************-->
            <p>
            <p><strong>Edit By Toggle</strong></p>
            <div class="targtoggle"><span class="label">Edit by</span></div>
          </p>

<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#targtoggle-tab1">HTML</a></li>
        <li><a href="#targtoggle-tab2">CSS</a></li>
        <li><a href="#targtoggle-tab3">JavaScript</a></li>
    </ul>

    <div class="tab-content">
        <div id="targtoggle-tab1" class="tab active">
            <p>
                <pre class="language-markup">
                    <code>
&lt;div class="targtoggle"&gt;
  &lt;span class="label"&gt;
    Edit By
  &lt;/span&gt;
&lt;/div&gt;
                    </code>
                </pre>
            </p>
        </div><!-- /tab1-->
     
        <div id="targtoggle-tab2" class="tab">
            <p>
                <pre class="language-css">
                    <code>
.targtoggle {
  height: 17px;
  width: 110px;
  cursor:pointer;
  background:url(../images/targ-toggle.png) no-repeat 42px 0;
}

.percent {
  background:url(../images/targ-toggle.png) no-repeat 42px -17px;
}

.targtoggle span, .charttoggle span {
  font-weight: normal;
}

                    </code>
                </pre>
            </p>
        </div><!-- /tab2-->
     
        <div id="targtoggle-tab3" class="tab">
            <p>
                <pre class="language-javascript">
                    <code>
  // Toggle for Target ammount
  $(".targtoggle").click(function(){
    $(this).toggleClass("percent"); return false;
  }); 
                    </code>
                </pre>
            </p>
        </div><!-- /tab3-->

    </div><!-- /tab-content-->

</div><!-- /tabs-->
<br>
<br>

<!-- *******************  ExpandandCollapseAllToggle- *********************-->
          <p>
            <p><strong>Expand and Collapse All Toggle</strong></p>
            <br><br><br>
            <div id="sortline">
                <div class="ttoggle sort">
                    <div class="expand"><span class="icon-plus"></span>EXPAND ALL</div>
                    <div class="collapse hide"><span class="icon-minus"></span>COLLAPSE ALL</div>
                </div>
          </p>
            
               
                <hr/>
            
        </div> <!--x sortline -->

<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#ExpandandCollapseAllToggle-tab1">HTML</a></li>
        <li><a href="#ExpandandCollapseAllToggle-tab2">CSS</a></li>
        <li><a href="#ExpandandCollapseAllToggle-tab3">JavaScript</a></li>
    </ul>

    <div class="tab-content">
        <div id="ExpandandCollapseAllToggle-tab1" class="tab active">
            <p>
                <pre class="language-markup">
                    <code>
&lt;div class="ttoggle sort">
  &lt;div class="expand"&gt;
    &lt;span class="icon-plus"&gt;&lt;/span&gt;
      EXPAND ALL
  &lt;/div&gt;
  &lt;div class="collapse hide"&gt;
    &lt;span class="icon-minus"&gt;&lt;/span&gt;
    COLLAPSE ALL
  &lt;/div&gt;
&lt;/div&gt;
                    </code>
                </pre>
            </p>
        </div><!-- /tab1-->
     
        <div id="ExpandandCollapseAllToggle-tab2" class="tab">
            <p>
                <pre class="language-css">
                    <code>
.hide { display:none; }

a.icon.expand span {
  background:url(../images/expand.png) no-repeat;
  padding-left: 12px;
}

a.icon.collapse span {
  background:url(../images/collapse.png) no-repeat;
  padding-left: 12px;
}
                    </code>
                </pre>
            </p>
        </div><!-- /tab2-->
     
        <div id="ExpandandCollapseAllToggle-tab3" class="tab">
            <p>
                <pre class="language-javascript">
                    <code>

   $('.ttoggle').click(function() {
     $(this).find('.expand, .collapse').toggleClass('hide');
    });
  
                    </code>
                </pre>
            </p>
        </div><!-- /tab3-->

    </div><!-- /tab-content-->

</div><!-- /tabs-->
<br>
<br>



<!-- *******************  FAIDToggle- *********************-->
  
        <p>
            <p><strong>FAID Toggles</strong></p>
            
            <div class="faid-toggle">      
               <span class="icon-plus hide"></span>
               <span class="icon-minus"></span>
               <a href="#">FAID 1234</a>   
            </div><!--x faid-toggle -->
            
            <div class="faid-detail">
                  <table>
                      <thead>
                          <tr>
                              <th colspan="2" style="text-align:left;">
                                  My Models
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                              <td style="padding: 0 10px;">
                                  <input id="chk2" class="ir-chkbox" type="checkbox" />
                  <label for="chk2" name="demo_lbl_1" class="ir-chkbox-label"></label>
                                </td>
                                <td>
                                  My Equity Model
                                    <br>
                                    <span class="label">PACE</span>
                                    <a href="#"><span class="label">edit</span></a>
                                    <a href="#"><span class="label">delete</span></a>           
                                </td>
                            </tr>
                            <tr>
                              <td style="padding: 0 10px;">
                                  <input id="chk3" class="ir-chkbox" type="checkbox" />
                  <label for="chk3" name="demo_lbl_1" class="ir-chkbox-label"></label>
                                </td>
                                <td>
                                  My Fixed Income Model
                                    <br>
                                    <div class="">
                                        <a href="#"><span class="label">edit</span></a>
                                        <a href="#"><span class="label">delete</span></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <table>
                      <thead>
                          <tr>
                              <th colspan="2" style="text-align:left;">
                                  My Lists
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                              <td style="padding: 0 10px;">
                                  <input id="chk4" class="ir-chkbox" type="checkbox" />
                  <label for="chk4" name="demo_lbl_1" class="ir-chkbox-label"></label>
                                </td>
                                <td>
                                  My List of Ideas
                                    <br>
                                    <div class="">
                                        <a href="#"><span class="label">edit</span></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
          </div><!--x faid-detail -->
        </p>


<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#FAIDToggle-tab1">HTML</a></li>
        <li><a href="#FAIDToggle-tab2">CSS</a></li>
        <li><a href="#FAIDToggle-tab3">JavaScript</a></li>
    </ul>

    <div class="tab-content">
        <div id="FAIDToggle-tab1" class="tab active">
            <p>
                <pre class="language-markup">
                    <code>
 &lt;div class="faid-toggle"&gt;     
        &lt;span class="icon-plus hide"&gt;&lt;/span&gt;
        &lt;span class="icon-minus"&gt;&lt;/span&gt;
        &lt;a href="#"&gt;FAID 1234&lt;/a&gt;  
  &lt;/div&gt;
                    </code>
                </pre>
            </p>
        </div><!-- /tab1-->
     
        <div id="FAIDToggle-tab2" class="tab">
            <p>
                <pre class="language-css">
                    <code>

.faid-toggle a{
  text-decoration: none;
  color: #556996;
  font-weight: bold;
  font-size: 16px;
}

.faid-toggle .icon-plus, .faid-toggle .icon-minus {
  color: #566996;
}

                    </code>
                </pre>
            </p>
        </div><!-- /tab2-->
     
        <div id="FAIDToggle-tab3" class="tab">
            <p>
                <pre class="language-javascript">
                    <code>
  // Toggle for FAID detail
  
  $(".faid-toggle").click(function(){
    $(this).find('.icon-plus, .icon-minus').toggleClass('hide');
    $(".faid-detail").slideToggle("slow");
    $(this).toggleClass("active"); return false;
    
  }); 
                    </code>
                </pre>
            </p>
        </div><!-- /tab3-->

    </div><!-- /tab-content-->

</div><!-- /tabs-->
<br>
<br>
