 <h3>Data Grid</h3>
<p>Here is a table with removeable line items.</p>

    <div id="datagridcontainer">
    <span class="icon-spam"></span>
    <span class="icon-info"></span>
        <table class="ir-datagrid">
          <!-- Table header -->
            <thead>
                    <tr>
                        <th scope="col" id="...">Description</th>
                        <th scope="col" id="...">Symbol</th>
                        <th scope="col" id="...">Current Value</th>
                        <th scope="col" id="...">Current %</th>
                        <th scope="col" id="...">Target $</th>
                        <th scope="col" id="...">Target %</th>
                        <th scope="col" id="...">Net Change</th>
                        <th scope="col" id="...">- </th>
                
                    </tr>
      </thead>
              
            <!-- Table footer -->
                <tfoot>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>Cash UBS Bank</td>
                    </tr>
                </tfoot>
            
            <!-- Table body -->
                <tbody>
                    <tr>
                        <td>Cash UBS Bank</td>
                        <td>PVFAX</td>
                        <td class="cash">$95,862.93</td>
                        <td class="cash">12.93%</td>
                        <td class="cash">$3,330,030,340.33</td>
                        <td class="cash">32.43%</td>
                        <td class="cash">2.13%</td>
                        <td class="icon-Delete"></td>
                    </tr>
                    <tr>
                        <td>SPDR S&P EFT</td>
                        <td>SPEFT</td>
                        <td class="cash">$4,562.12</td>
                        <td class="cash">6.23%</td>
                        <td class="cash">$1,030,040,360.13</td>
                        <td class="cash">13.29%</td>
                        <td class="cash">2.93%</td>
                        <td class="icon-Delete">&nbsp;</td>
                    </tr>
                       <tr>
                        <td>Mutual Funds</td>
                        <td>MFT</td>
                        <td class="cash">$33,532.12</td>
                        <td class="cash">5.43%</td>
                        <td class="cash">$330,040,360.13</td>
                        <td class="cash">33.29%</td>
                        <td class="cash">2.43%</td>
                        <td class="icon-Delete">&nbsp;</td>
                    </tr>
                     <tr class="recent">
                        <td>Paradigm Value FUND .. </td>
                        <td>PVFAX</td>
                        <td class="cash">$23,862.93</td>
                        <td class="cash">12.93%</td>
                        <td class="cash">$2,032,020,320.23</td>
                        <td class="cash">12.93%</td>
                        <td class="cash">2.93%</td>
                        <td class="icon-Delete">&nbsp;</td>
                    </tr>
            
                </tbody>
      </table>
    </div>

<!-- *************************
        Coding Tabs 
***************************-->
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">HTML</a></li>
        <li><a href="#tab2">CSS</a></li>
        <li><a href="#tab3">JavaScript</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <p>
                <pre class="language-markup">
                    <code>
                      <!--HTML-->
                    </code>
                </pre>
            </p>
        </div><!-- /tab1-->
     
        <div id="tab2" class="tab">
            <p>
                <pre class="language-css">
                    <code>
                      <!--CSS-->
                    </code>
                </pre>
            </p>
        </div><!-- /tab2-->
     
        <div id="tab3" class="tab">
            <p>
                <pre class="language-javascript">
                    <code>
                      <!--Javascript-->
                    </code>
                </pre>
            </p>
        </div><!-- /tab3-->

    </div><!-- /tab-content-->

</div><!-- /tabs-->
<br>
<br>