 <h3>Data Grid</h3>
<p>Here is a table with removeable line items.<hr></p>

    <div id="datagridcontainer">
    <span class="icon-spam"></span>
    <span class="icon-info"></span>
        <table class="ir-datagrid">
          <!-- Table header -->
            <thead>
                    <tr>
                        <th scope="col" id="...">Description</th>
                        <th scope="col" id="...">Symbol</th>
                        <th scope="col" id="...">Current Value</th>
                        <th scope="col" id="...">Current %</th>
                        <th scope="col" id="...">Target $</th>
                        <th scope="col" id="...">Target %</th>
                        <th scope="col" id="...">Net Change</th>
                        <th scope="col" id="...">- </th>
                
                    </tr>
      </thead>
              
            <!-- Table footer -->
                <tfoot>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>Cash UBS Bank</td>
                    </tr>
                </tfoot>
            
            <!-- Table body -->
                <tbody>
                    <tr>
                        <td>Cash UBS Bank</td>
                        <td>PVFAX</td>
                        <td class="cash">$95,862.93</td>
                        <td class="cash">12.93%</td>
                        <td class="cash">$3,330,030,340.33</td>
                        <td class="cash">32.43%</td>
                        <td class="cash">2.13%</td>
                        <td class="icon-Delete"></td>
                    </tr>
                    <tr>
                        <td>SPDR S&P EFT</td>
                        <td>SPEFT</td>
                        <td class="cash">$4,562.12</td>
                        <td class="cash">6.23%</td>
                        <td class="cash">$1,030,040,360.13</td>
                        <td class="cash">13.29%</td>
                        <td class="cash">2.93%</td>
                        <td class="icon-Delete">&nbsp;</td>
                    </tr>
                       <tr>
                        <td>Mutual Funds</td>
                        <td>MFT</td>
                        <td class="cash">$33,532.12</td>
                        <td class="cash">5.43%</td>
                        <td class="cash">$330,040,360.13</td>
                        <td class="cash">33.29%</td>
                        <td class="cash">2.43%</td>
                        <td class="icon-Delete">&nbsp;</td>
                    </tr>
                     <tr class="recent">
                        <td>Paradigm Value FUND .. </td>
                        <td>PVFAX</td>
                        <td class="cash">$23,862.93</td>
                        <td class="cash">12.93%</td>
                        <td class="cash">$2,032,020,320.23</td>
                        <td class="cash">12.93%</td>
                        <td class="cash">2.93%</td>
                        <td class="icon-Delete">&nbsp;</td>
                    </tr>
            
                </tbody>
      </table>
    </div>

<!-- *************************
        Coding Tabs 
***************************-->
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">HTML</a></li>
        <li><a href="#tab2">CSS</a></li>
        <li><a href="#tab3">JavaScript</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <p>
                <pre class="language-markup">
                    <code>
&lt;table class="ir-datagrid">
          &lt;!-- Table header -->
            &lt;thead>
                    &lt;tr>
                        &lt;th scope="col" id="...">Description&lt;/th>
                        &lt;th scope="col" id="...">Symbol&lt;/th>
                        &lt;th scope="col" id="...">Current Value&lt;/th>
                        &lt;th scope="col" id="...">Current %&lt;/th>
                        &lt;th scope="col" id="...">Target $&lt;/th>
                        &lt;th scope="col" id="...">Target %&lt;/th>
                        &lt;th scope="col" id="...">Net Change&lt;/th>
                        &lt;th scope="col" id="...">- &lt;/th>
                
                    &lt;/tr>
      &lt;/thead>
              
            &lt;!-- Table footer -->
                &lt;tfoot>
                    &lt;tr>
                        &lt;td>&nbsp;&lt;/td>
                        &lt;td>&nbsp;&lt;/td>
                        &lt;td>&nbsp;&lt;/td>
                        &lt;td>Cash UBS Bank&lt;/td>
                    &lt;/tr>
                &lt;/tfoot>
            
            &lt;!-- Table body -->
                &lt;tbody>
                    &lt;tr>
                        &lt;td>Cash UBS Bank&lt;/td>
                        &lt;td>PVFAX&lt;/td>
                        &lt;td class="cash">$95,862.93&lt;/td>
                        &lt;td class="cash">12.93%&lt;/td>
                        &lt;td class="cash">$3,330,030,340.33&lt;/td>
                        &lt;td class="cash">32.43%&lt;/td>
                        &lt;td class="cash">2.13%&lt;/td>
                        &lt;td class="icon-Delete">&lt;/td>
                    &lt;/tr>
                    &lt;tr>
                        &lt;td>SPDR S&P EFT&lt;/td>
                        &lt;td>SPEFT&lt;/td>
                        &lt;td class="cash">$4,562.12&lt;/td>
                        &lt;td class="cash">6.23%&lt;/td>
                        &lt;td class="cash">$1,030,040,360.13&lt;/td>
                        &lt;td class="cash">13.29%&lt;/td>
                        &lt;td class="cash">2.93%&lt;/td>
                        &lt;td class="icon-Delete">&nbsp;&lt;/td>
                    &lt;/tr>
                       &lt;tr>
                        &lt;td>Mutual Funds&lt;/td>
                        &lt;td>MFT&lt;/td>
                        &lt;td class="cash">$33,532.12&lt;/td>
                        &lt;td class="cash">5.43%&lt;/td>
                        &lt;td class="cash">$330,040,360.13&lt;/td>
                        &lt;td class="cash">33.29%&lt;/td>
                        &lt;td class="cash">2.43%&lt;/td>
                        &lt;td class="icon-Delete">&nbsp;&lt;/td>
                    &lt;/tr>
                     &lt;tr class="recent">
                        &lt;td>Paradigm Value FUND .. &lt;/td>
                        &lt;td>PVFAX&lt;/td>
                        &lt;td class="cash">$23,862.93&lt;/td>
                        &lt;td class="cash">12.93%&lt;/td>
                        &lt;td class="cash">$2,032,020,320.23&lt;/td>
                        &lt;td class="cash">12.93%&lt;/td>
                        &lt;td class="cash">2.93%&lt;/td>
                        &lt;td class="icon-Delete">&nbsp;&lt;/td>
                    &lt;/tr>
            
                &lt;/tbody>
      &lt;/table>
                    </code>
                </pre>
            </p>
        </div><!-- /tab1-->
     
        <div id="tab2" class="tab">
            <p>
                <pre class="language-css">
                    <code>
.ir-datagrid {
    min-width: 810px;
    border-collapse: collapse;
    font-size: 11px;

}

.ir-datagrid tbody {
    background-color:#fff;
}

.ir-datagrid thead {
    color: #949494;
    font-size: 11px;
    font-weight: normal;
    height: 22px;
    text-align:left;
    background-image: linear-gradient(bottom, #EEEFF1 50%, #F9F9F9 54%);
    background-image: -moz-linear-gradient(bottom, #EEEFF1 50%, #F9F9F9 54%);
    background-image: -webkit-linear-gradient(bottom, #EEEFF1 50%, #F9F9F9 54%);
    background-image: -ms-linear-gradient(bottom, #EEEFF1 50%, #F9F9F9 54%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #EEEFF1), color-stop(0.54, #F9F9F9));
}

.ir-datagrid th, .ir-datagrid td {
    padding: 3px 6px;
    border: 1px #949494 solid;
    /*text-align: right;*/
}

.ir-datagrid tfoot td {
    border:none; 
    
}

td.cash {
     text-align:right;
}

                    </code>
                </pre>
            </p>
        </div><!-- /tab2-->
     
        <div id="tab3" class="tab">
            <p>
                <pre class="language-javascript">
                    <code>
// Delete Row
    $(".icon-Delete").on("click",function() {
        var tr = $(this).closest('tr');
        tr.css("background-color","#ffa68e");

        tr.fadeOut(400, function(){
            tr.remove();
        });
      return false;
    });
                    </code>
                </pre>
            </p>
        </div><!-- /tab3-->

    </div><!-- /tab-content-->

</div><!-- /tabs-->
 
 