/*This stylesheet only applies to the stying of 
the sandbox, not any of the elements*/


.content { 
  margin-left: 180px;
  width: 978px;
}
p { margin: 20px 0 20px 0;}

/****************************
     Header
****************************/

#header-wrap{
  background-color: #DEE0E3;
  font-size: 20px;
  font-weight: bold;
}

#header-wrap ul {
list-style-type: none;
margin: 0;
padding: 0;
}

/****************************
     Side Navigation
****************************/
.sidebar {
  font-size: 14px;
  line-height: 1.214;
  height: 100%;
  left: 0;
  margin:0;
  list-style-type: none;
  overflow: auto;
  position: fixed;
  width: 150px;

  z-index: 10000;
  background-color: #DEE0E3;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}


.sidebar li:first-child a {
  padding-top: 10px 0px 10px 0px;
}

.sidebar h3 {
  display: block;
  padding: 7px 20px;
}
.sidebar a {
  display: block;
  padding: 7px 30px;
}

.row {
margin: 0 auto;


}

pre {
padding: 8px;
margin: 0 0 15px;
font-size: 13px;
line-height: 1.72222;
color: inherit;
background-color: #ffffff;
border: 2px solid #e7e9ec;
border-radius: 6px;
clear: both;
}

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}



/**********************
      Containers
**********************/

#ir-modal{
  margin: 0px auto 25px auto;
}


/**********************
      index 
**********************/

.indexButton{
  border-style: ridge;
}

/**********************
      tabs
**********************/
/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:3px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#21354f;
            font-size:14px;
            font-weight:600;
            color:#fffaf0;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#556696;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:10px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }


/****************************
typography
****************************/

.note {
display:inline;
padding-right: 20px;
font-size: 13px;
font-weight: 400px;
line-height: 13px;
color: #bababa;

}

.titlebar h1 {
color: #21354f;
font-size: 24px;
font-weight: bold;
}

.titlebar a:hover{
border-bottom: none;
}

.hover{
  border-bottom: 1px dotted;
}
h3{color: #21354f;}
h4 { margin-bottom:0; color:#949494; font-size: 10px;}

